<!-- PSG Aplicacionpagoscontrolados Add Html -->
<!-- head -->
<div class="card-header">
    Agregar Aplicación de pagos controlados
</div> 
<!-- ./head -->

<!-- form -->
<form class="form" [formGroup]="aplicacionpagoscontroladosForm">
    <div style="margin: 20px;">
	<div class="clr-form-control" id="fideicomisoId">
	        <label for="fideicomisoItem" class="clr-control-label">
	        Fideicomiso
	        <span class="required">*</span>
	        </label>
	        <div class="clr-control-container clr-col-md-12"> 
	            <div class="clr-input-wrapper">
	            <label for="fideicomisoItem" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
	                    [class.invalid]="aplicacionpagoscontroladosForm.get('fideicomisoItem').invalid && (aplicacionpagoscontroladosForm.get('fideicomisoItem').dirty || aplicacionpagoscontroladosForm.get('fideicomisoItem').touched)">
	                <input id="fideicomisoId"   type="hidden" formControlName="fideicomisoId" class="clr-input clr-col-sm-12 clr-col-md-12" disabled>
	                <input id="fideicomisoItem" type="text"   formControlName="fideicomisoItem" placeholder="" class="clr-input clr-col-sm-12 clr-col-md-12" disabled>
	                <button type="button" class="btn btn-sm" style="margin-top: -17px" (click)="modalfideicomiso = true"><clr-icon shape="search"></clr-icon></button>
	                <span class="tooltip-content">
	                	 Fideicomiso es requerido.
	                </span>
	            </label>
	            </div>
	        </div>
	    </div>
	<div class="clr-form-control" id="subfisoId">
	        <label for="subfisoItem" class="clr-control-label">
	        Sub fiso
	        <span class="required">*</span>
	        </label>
	        <div class="clr-control-container clr-col-md-12"> 
	            <div class="clr-input-wrapper">
	            <label for="subfisoItem" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
	                    [class.invalid]="aplicacionpagoscontroladosForm.get('subfisoItem').invalid && (aplicacionpagoscontroladosForm.get('subfisoItem').dirty || aplicacionpagoscontroladosForm.get('subfisoItem').touched)">
	                <input id="subfisoId"   type="hidden" formControlName="subfisoId" class="clr-input clr-col-sm-12 clr-col-md-12" disabled>
	                <input id="subfisoItem" type="text"   formControlName="subfisoItem" placeholder="" class="clr-input clr-col-sm-12 clr-col-md-12" disabled>
	                <button type="button" class="btn btn-sm" style="margin-top: -17px" (click)="modalsubfiso = true"><clr-icon shape="search"></clr-icon></button>
	                <span class="tooltip-content">
	                	 Sub fiso es requerido.
	                </span>
	            </label>
	            </div>
	        </div>
	    </div>
	<div class="clr-form-control">
	    <label for="importe" class="clr-control-label">
	    Importe
	    <span class="required">*</span></label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="importe" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
	                [class.invalid]="aplicacionpagoscontroladosForm.get('importe').invalid && (aplicacionpagoscontroladosForm.get('importe').dirty || aplicacionpagoscontroladosForm.get('importe').touched)">
	            <input id="importe" type="text" formControlName="importe" 
	                   placeholder=""
	                   class="clr-input clr-col-sm-12 clr-col-md-12">
	            <span class="tooltip-content">
	                Importe es requerido.
	            </span>
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="importepago" class="clr-control-label">
	    Importe de pago
	    <span class="required">*</span></label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="importepago" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
	                [class.invalid]="aplicacionpagoscontroladosForm.get('importepago').invalid && (aplicacionpagoscontroladosForm.get('importepago').dirty || aplicacionpagoscontroladosForm.get('importepago').touched)">
	            <input id="importepago" type="text" formControlName="importepago" 
	                   placeholder=""
	                   class="clr-input clr-col-sm-12 clr-col-md-12">
	            <span class="tooltip-content">
	                Importe de pago es requerido.
	            </span>
	        </label>
	    </div>
	</div>
	<div class="clr-form-control" id="formapago">
	        <label for="formapago" class="clr-control-label">
	        Forma de pago
	        <span class="required">*</span>
	        </label>
	            <div class="clr-control-container">
		<div class="clr-select-wrapper">
			<select formControlName="formapago" required>
			<option value=""> -- Seleccione un valor -- </option>
	<option value="PAGO1">CARGO A CUENTA DE CHEQUES</option>
	<option value="PAGO2">CARGO A OTRO CONTRATO</option>
	<option value="PAGO3">CARGO A TARJETA DE CREDITO</option>
	<option value="PAGO4">CARGO AL CONTRATO</option>
	<option value="PAGO5">VIA GESTIÓN</option>
	<option value="PAGO6">TERMINAL FINANCIERO</option>
	        </select>
			<clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
		</div>
	</div>
	    </div>
	<div class="clr-form-control" id="tipocomision">
	        <label for="tipocomision" class="clr-control-label">
	        Tipo de comisión
	        <span class="required">*</span>
	        </label>
	            <div class="clr-control-container">
		<div class="clr-select-wrapper">
			<select formControlName="tipocomision" required>
			<option value=""> -- Seleccione un valor -- </option>
	<option value="COMISION">HONORARIOS POR ADMINISTRACIÓN</option>
	        </select>
			<clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
		</div>
	</div>
	    </div>
	<div class="clr-form-control">
	    <label for="iva" class="clr-control-label">
	    IVA
	    <span class="required">*</span></label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="iva" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
	                [class.invalid]="aplicacionpagoscontroladosForm.get('iva').invalid && (aplicacionpagoscontroladosForm.get('iva').dirty || aplicacionpagoscontroladosForm.get('iva').touched)">
	            <input id="iva" type="text" formControlName="iva" 
	                   placeholder=""
	                   class="clr-input clr-col-sm-12 clr-col-md-12">
	            <span class="tooltip-content">
	                IVA es requerido.
	            </span>
	        </label>
	    </div>
	</div>
	<div class="clr-form-control" id="moneda">
	        <label for="moneda" class="clr-control-label">
	        Moneda
	        <span class="required">*</span>
	        </label>
	            <div class="clr-control-container">
		<div class="clr-select-wrapper">
			<select formControlName="moneda" required>
			<option value=""> -- Seleccione un valor -- </option>
	<option value="DLS">DLS. U.S.A.</option>
	<option value="EURO">EUROS</option>
	<option value="NACIONAL">MONEDA NACIONAL</option>
	        </select>
			<clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
		</div>
	</div>
	    </div>
    
    <!-- <p>Form value {{ aplicacionpagoscontroladosForm.value | json }} </p>
    <p> Form status {{ aplicacionpagoscontroladosForm.status | json}} </p> -->
    <p>
        <button type="submit" class="btn btn-primary" (click)="guardaAplicacionpagoscontrolados()"><clr-icon shape="success-standard"></clr-icon> Agregar</button>
        <button type="submit" class="btn btn-outline" (click)="regresaAplicacionpagoscontrolados()"><clr-icon shape="undo"></clr-icon> Regresar</button>
    </p>
    
	<!-- modals -->
<clr-modal [(clrModalOpen)]="modalfideicomiso" [clrModalSize]="'xl'">
    <h3 class="modal-title">Fideicomiso</h3>
			
			<!-- body -->
    <div class="modal-body">
    	
    		<!--  grid -->
            <clr-datagrid [clrDgLoading]="loading">
                <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
                <clr-dg-column>
                <!-- radio -->     
                </clr-dg-column>
      
        		<clr-dg-column [clrDgField]="'generalesadministradorItem'" >
        		    <ng-container *clrDgHideableColumn="{hidden: false}">
        		        Generales_Administrador
        		    </ng-container> 
        		</clr-dg-column>	
        		<clr-dg-column [clrDgField]="'generalespromotorItem'" >
        		    <ng-container *clrDgHideableColumn="{hidden: false}">
        		        Generales_Promotor
        		    </ng-container> 
        		</clr-dg-column>	
      
      			<clr-dg-row *ngFor="let fideicomiso of fideicomisoArray">
      			<clr-dg-cell><input type="radio" name="fideicomisoId" [checked]="fideicomiso.checked" value="{{fideicomiso.id}}" (click)="setClickedRowFideicomiso(i, fideicomiso)"></clr-dg-cell>
        		<clr-dg-cell >{{fideicomiso.generalesadministradorItem}}</clr-dg-cell>
        		<clr-dg-cell >{{fideicomiso.generalespromotorItem}}</clr-dg-cell>
                </clr-dg-row>
                
                <!-- footer -->
                <clr-dg-footer>
                    <clr-dg-column-toggle>
                        <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                        <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                    </clr-dg-column-toggle>
                    <clr-dg-pagination #pagination [clrDgPageSize]="10">
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                        de {{pagination.totalItems}} registros
                    </clr-dg-pagination>
                </clr-dg-footer>
                <!-- ./footer -->
        
            	</clr-datagrid>
            	<!--  ./grid -->
        	
        </div>
        <!-- ./body -->
        
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="modalfideicomiso = false">Regresar</button>
            <button type="button" class="btn btn-primary" (click)="modalfideicomiso = false">Elegir</button>
        </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="modalsubfiso" [clrModalSize]="'xl'">
    <h3 class="modal-title">Subfiso</h3>
			
			<!-- body -->
    <div class="modal-body">
    	
    		<!--  grid -->
            <clr-datagrid [clrDgLoading]="loading">
                <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
                <clr-dg-column>
                <!-- radio -->     
                </clr-dg-column>
      
        		<clr-dg-column [clrDgField]="'fideicomisoItem'" >
        		        <ng-container *clrDgHideableColumn="{hidden: false}">
        		            Fideicomiso
        		        </ng-container>
        		    </clr-dg-column>
        		<clr-dg-column [clrDgField]="'numero'">
        		        <ng-container *clrDgHideableColumn="{hidden: false}"> 
        		            Número
        		        </ng-container>    
        		    </clr-dg-column>	
        		<clr-dg-column [clrDgField]="'nombre'">
        		        <ng-container *clrDgHideableColumn="{hidden: false}"> 
        		            Nombre
        		        </ng-container>    
        		    </clr-dg-column>
        		<clr-dg-column [clrDgField]="'estatusItem'" >
        		    <ng-container *clrDgHideableColumn="{hidden: false}">
        		        Estatus
        		    </ng-container> 
        		</clr-dg-column>	
      
      			<clr-dg-row *ngFor="let subfiso of subfisoArray">
      			<clr-dg-cell><input type="radio" name="subfisoId" [checked]="subfiso.checked" value="{{subfiso.id}}" (click)="setClickedRowSubfiso(i, subfiso)"></clr-dg-cell>
        		<clr-dg-cell >{{subfiso.fideicomisoItem}}</clr-dg-cell>
        		<clr-dg-cell>{{subfiso.numero}}</clr-dg-cell>
        		<clr-dg-cell>{{subfiso.nombre}}</clr-dg-cell>
        		<clr-dg-cell >{{subfiso.estatusItem}}</clr-dg-cell>
                </clr-dg-row>
                
                <!-- footer -->
                <clr-dg-footer>
                    <clr-dg-column-toggle>
                        <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                        <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                    </clr-dg-column-toggle>
                    <clr-dg-pagination #pagination [clrDgPageSize]="10">
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                        de {{pagination.totalItems}} registros
                    </clr-dg-pagination>
                </clr-dg-footer>
                <!-- ./footer -->
        
            	</clr-datagrid>
            	<!--  ./grid -->
        	
        </div>
        <!-- ./body -->
        
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="modalsubfiso = false">Regresar</button>
            <button type="button" class="btn btn-primary" (click)="modalsubfiso = false">Elegir</button>
        </div>
</clr-modal>
    <!-- ./modals -->
    	    
    </div>
</form>
<!-- ./form -->
