<!-- Datetimepicker Control -->
<div [formGroup]="_formGroup">
  <div class="clr-form-control">
    <label for="{{ idHour }}" class="clr-control-label clr-col-md-12"
      >{{ label }}
      <span *ngIf="required" class="required">*</span>
    </label>
    <div
      class="clr-control-container clr-col-md-12"
      [class.clr-error]="
        _formGroup.get(idHour).invalid && _formGroup.get(idHour).touched
      "
    >
      <div *ngIf="disabled === true; else notDisabled">
        <div class="clr-select-wrapper" style="width: 50px">
          <select
            id="{{ idHour }}"
            formControlName="{{ idHour }}"
            class="clr-col-md-11"
            disabled
          >
            <option value="">00</option>
            <option value="{{ hour.id }}" *ngFor="let hour of hours">
              {{ hour.value }}
            </option>
          </select>
        </div>
        :
        <div class="clr-select-wrapper" style="width: 50px">
          <select
            id="{{ idMinute }}"
            formControlName="{{ idMinute }}"
            class="clr-col-md-11"
            disabled
          >
            <option value="">00</option>
            <option value="{{ minute.id }}" *ngFor="let minute of minutes">
              {{ minute.value }}
            </option>
          </select>
        </div>
        <span
          class="clr-subtext"
          *ngIf="
            _formGroup.get(idHour).invalid && _formGroup.get(idHour).touched
          "
        >
          <div *ngIf="error === ''; else notEmptyError">
            <clr-icon
              class="clr-validate-icon"
              shape="exclamation-circle"
            ></clr-icon>
            {{ label }} es requerido
          </div>
          <ng-template #notEmptyError>
            <clr-icon
              class="clr-validate-icon"
              shape="exclamation-circle"
            ></clr-icon
            >{{ error }}
          </ng-template>
        </span>
      </div>
      <ng-template #notDisabled>
        <div class="clr-select-wrapper" style="width: 50px">
          <select
            id="{{ idHour }}"
            formControlName="{{ idHour }}"
            class="clr-col-md-11"
          >
            <option value="">00</option>
            <option value="{{ hour.id }}" *ngFor="let hour of hours">
              {{ hour.value }}
            </option>
          </select>
        </div>
        :
        <div class="clr-select-wrapper" style="width: 50px">
          <select
            id="{{ idMinute }}"
            formControlName="{{ idMinute }}"
            class="clr-col-md-11"
          >
            <option value="">00</option>
            <option value="{{ minute.id }}" *ngFor="let minute of minutes">
              {{ minute.value }}
            </option>
          </select>
        </div>
        <span
          class="clr-subtext"
          *ngIf="
            _formGroup.get(idHour).invalid && _formGroup.get(idHour).touched
          "
        >
          <div *ngIf="error === ''; else notEmptyError">
            <clr-icon
              class="clr-validate-icon"
              shape="exclamation-circle"
            ></clr-icon>
            {{ label }} es requerido
          </div>
          <ng-template #notEmptyError>
            <clr-icon
              class="clr-validate-icon"
              shape="exclamation-circle"
            ></clr-icon
            >{{ error }}
          </ng-template>
        </span>
      </ng-template>
    </div>
  </div>
  <!-- ./Datetimepicker Control -->
</div>
