<!-- PSG Administrar Registro Html -->
<div class="card-header">
Administrar Registro <span>({{variableEntidad}})</span>
</div>

<div class="card-block">
<button type="button"  *ngIf="registro_create" class="btn btn-icon btn-outline" (click)="getRegistro()">
    <clr-icon shape="plus"></clr-icon> Agregar
</button>
    
    <clr-datagrid [clrDgLoading]="loading">
        <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
<clr-dg-column [clrDgField]="'confirmadoItem'" >
        <ng-container *clrDgHideableColumn="{hidden: false}">
            Confirmado
        </ng-container>
    </clr-dg-column> 
<clr-dg-column [clrDgField]="'inscritoporItem'" >
        <ng-container *clrDgHideableColumn="{hidden: false}">
            Inscritopor
        </ng-container>
    </clr-dg-column> 
<clr-dg-column [clrDgField]="'numconfirmacion'" >
	<ng-container *clrDgHideableColumn="{hidden: false}"> 
       		Número de confirmación
    </ng-container>    
</clr-dg-column>	
            <clr-dg-row *clrDgItems="let registro of registroArray" [clrDgItem]="registro">
                <div hidden="true">
                    <div *ngIf="registro_update">
                        <button class="action-item" (click)="setClickedRowEditaRegistro(i, registro)">Editar</button> 
                    </div>
                    <div *ngIf="registro_delete">
                        <button class="action-item" (click)="setClickedRowEliminaRegistro(i, registro)">Eliminar</button>
                    </div>
                </div>
                <clr-dg-action-overflow>
                    <button class="action-item" *ngIf="registro_update" (click)="setClickedRowEditaRegistro(i, registro)">
                        <clr-icon shape="note" ></clr-icon> Editar
                    </button>
                    <button class="action-item" *ngIf="registro_delete" (click)="setClickedRowEliminaRegistro(i, registro)">
                        <clr-icon shape="trash"></clr-icon> Borrar
                    </button>
                </clr-dg-action-overflow>
				<clr-dg-cell >{{registro.confirmadoItem}}</clr-dg-cell>
				<clr-dg-cell >{{registro.inscritoporItem}}</clr-dg-cell>
				<clr-dg-cell >{{registro.numconfirmacion}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-column-toggle>
                    <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                    <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                </clr-dg-column-toggle>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    de {{pagination.totalItems}} registros
                </clr-dg-pagination>
            </clr-dg-footer>
    	</clr-datagrid>
</div>			
