<div class="login">
  <div class="login-wrapper">
    <div>
      <form
        clrForm
        [formGroup]="loginForm"
        (ngSubmit)="login()"
        clrLayout="vertical"
        style="width: 25rem; padding: 2rem;"
      >
        <section class="title">
          <h3 class="welcome">Bienvenido a</h3>
          {{title}}
        </section>
        <br />
        <br />

        <div class="clr-form-control">
          <label class="clr-control-label"
            >Correo<span class="required">* </span>:
          </label>
          <div
            class="clr-control-container"
            [class.clr-error]="loginForm.get('email').invalid && loginForm.get('email').touched"
          >
            <div class="clr-input-container">
              <input
                id="email"
                type="text"
                formControlName="email"
                placeholder=""
                class="clr-input"
                required
              />
              <span
                class="clr-subtext"
                *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched"
              >
                <div *ngIf="loginForm.get('email').hasError('required')">
                  <clr-icon
                    class="clr-validate-icon"
                    shape="exclamation-circle"
                  ></clr-icon>
                  Email es requerido
                </div>
              </span>
            </div>
          </div>
        </div>

        <div class="clr-form-control">
          <label class="clr-control-label"
            >Password<span class="required">* </span>:</label
          >
          <div
            class="clr-control-container"
            [class.clr-error]="loginForm.get('password').invalid && loginForm.get('password').touched"
          >
            <div class="clr-input-container">
              <input
                id="password"
                type="password"
                formControlName="password"
                placeholder=""
                class="clr-input"
                required
              />
              <span
                class="clr-subtext"
                *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"
              >
                <div *ngIf="loginForm.get('password').hasError('required')">
                  <clr-icon
                    class="clr-validate-icon"
                    shape="exclamation-circle"
                  ></clr-icon>
                  Password es requerido
                </div>
              </span>
            </div>
          </div>
        </div>

        <button [disabled]="loading" class="btn btn-primary">Login</button>
        <img
          *ngIf="loading"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />

        <br />
        <br />
        <br />
        <div style="text-align: left;">
          <img src="../../assets/Softtek.png" width="100px" height="50rem" />
        </div>
        <p style="font-size: 8px;">©2018 All Rights Reserved. Softtek</p>
      </form>
    </div>
  </div>
</div>
