<!-- PSG Administrar Recurso Html -->
<div class="card-header">
Administrar Recurso
</div>

<div class="card-block">
<button type="button"  *ngIf="recurso_create" class="btn btn-icon btn-outline" (click)="getRecurso()">
    <clr-icon shape="plus"></clr-icon> Agregar
</button>
    
    <clr-datagrid [clrDgLoading]="loading">
        <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
		<clr-dg-column [clrDgField]="'relacionaItem'" >
		        <ng-container *clrDgHideableColumn="{hidden: false}">
		            Relaciona
		        </ng-container>
		    </clr-dg-column> 
		<clr-dg-column [clrDgField]="'descripcionrecurso'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Descripción recurso
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'ruta'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		 Ruta
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'clasificanItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Clasifican
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'tamano'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Tamaño
		    </ng-container>    
		</clr-dg-column>	
            <clr-dg-row *clrDgItems="let recurso of recursoArray" [clrDgItem]="recurso">
                <div hidden="true">
                    <div *ngIf="recurso_update">
                        <button class="action-item" (click)="setClickedRowEditaRecurso(i, recurso)">Editar</button> 
                    </div>
                    <div *ngIf="recurso_delete">
                        <button class="action-item" (click)="setClickedRowEliminaRecurso(i, recurso)">Eliminar</button>
                    </div>
                </div>
                <clr-dg-action-overflow>
                    <button class="action-item" *ngIf="recurso_update" (click)="setClickedRowEditaRecurso(i, recurso)">
                        <clr-icon shape="note" ></clr-icon> Editar
                    </button>
                    <button class="action-item" *ngIf="recurso_delete" (click)="setClickedRowEliminaRecurso(i, recurso)">
                        <clr-icon shape="trash"></clr-icon> Borrar
                    </button>
                </clr-dg-action-overflow>
<clr-dg-cell >{{recurso.relacionaItem}}</clr-dg-cell>
<clr-dg-cell >{{recurso.descripcionrecurso}}</clr-dg-cell>
<clr-dg-cell >{{recurso.ruta}}</clr-dg-cell>
<clr-dg-cell >{{recurso.clasificanItem}}</clr-dg-cell>
<clr-dg-cell >{{recurso.tamano}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-column-toggle>
                    <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                    <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                </clr-dg-column-toggle>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    de {{pagination.totalItems}} registros
                </clr-dg-pagination>
            </clr-dg-footer>
    	</clr-datagrid>
</div>		
