<!-- PSG Administrar Unidad Html -->
<div class="card-header">
Administrar Unidad
</div>

<div class="card-block">
<button type="button"  *ngIf="unidad_create" class="btn btn-icon btn-outline" (click)="getUnidad()">
    <clr-icon shape="plus"></clr-icon> Agregar
</button>
    
    <clr-datagrid [clrDgLoading]="loading">
        <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
		<clr-dg-column [clrDgField]="'competeItem'" >
		        <ng-container *clrDgHideableColumn="{hidden: false}">
		            Compete
		        </ng-container>
		    </clr-dg-column> 
		<clr-dg-column [clrDgField]="'nombreunidad'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Nombre unidad
		    </ng-container>    
		</clr-dg-column>
            <clr-dg-row *clrDgItems="let unidad of unidadArray" [clrDgItem]="unidad">
                <div hidden="true">
                    <div *ngIf="unidad_update">
                        <button class="action-item" (click)="setClickedRowEditaUnidad(i, unidad)">Editar</button> 
                    </div>
                    <div *ngIf="unidad_delete">
                        <button class="action-item" (click)="setClickedRowEliminaUnidad(i, unidad)">Eliminar</button>
                    </div>
                </div>
                <clr-dg-action-overflow>
                    <button class="action-item" *ngIf="unidad_update" (click)="setClickedRowEditaUnidad(i, unidad)">
                        <clr-icon shape="note" ></clr-icon> Editar
                    </button>
                    <button class="action-item" *ngIf="unidad_delete" (click)="setClickedRowEliminaUnidad(i, unidad)">
                        <clr-icon shape="trash"></clr-icon> Borrar
                    </button>
                </clr-dg-action-overflow>
<clr-dg-cell >{{unidad.competeItem}}</clr-dg-cell>
<clr-dg-cell >{{unidad.nombreunidad}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-column-toggle>
                    <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                    <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                </clr-dg-column-toggle>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    de {{pagination.totalItems}} registros
                </clr-dg-pagination>
            </clr-dg-footer>
    	</clr-datagrid>
</div>		
