<!-- PSG Administrar Fideicomisospendientesliberar Html -->
<div class="card-header">
Administrar Fideicomisos pendientes de liberar
</div>

<div class="card-block">
<button type="button"  *ngIf="fideicomisospendientesliberar_create" class="btn btn-icon btn-outline" (click)="getFideicomisospendientesliberar()">
    <clr-icon shape="plus"></clr-icon> Agregar
</button>
    
    <clr-datagrid [clrDgLoading]="loading">
        <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
		<clr-dg-column [clrDgField]="'fideicomisoItem'" >
		        <ng-container *clrDgHideableColumn="{hidden: false}">
		            Fideicomiso
		        </ng-container>
		    </clr-dg-column> 
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Nombre del Fiso
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'tiponegocioItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Tipo Negocio
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'clasifproductoItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Tipo Producto
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'manejoItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Manejo
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'tipopersonaItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Tipo Persona
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'estatusItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Estatus
		    </ng-container> 
		</clr-dg-column>
            <clr-dg-row *clrDgItems="let fideicomisospendientesliberar of fideicomisospendientesliberarArray" [clrDgItem]="fideicomisospendientesliberar">
                <div hidden="true">
                    <div>
                        <button class="action-item" (click)="setClickedRowEditaFideicomisospendientesliberar(i, fideicomisospendientesliberar)">Editar</button> 
                    </div>
                    <div>
                        <button class="action-item" (click)="setClickedRowEliminaFideicomisospendientesliberar(i, fideicomisospendientesliberar)">Eliminar</button>
                    </div>
                </div>
                <clr-dg-action-overflow>
                    <button class="action-item" *ngIf="fideicomisospendientesliberar_update" (click)="setClickedRowEditaFideicomisospendientesliberar(i, fideicomisospendientesliberar)">
                        <clr-icon shape="note" ></clr-icon> Editar
                    </button>
                    <button class="action-item" *ngIf="fideicomisospendientesliberar_delete" (click)="setClickedRowEliminaFideicomisospendientesliberar(i, fideicomisospendientesliberar)">
                        <clr-icon shape="trash"></clr-icon> Borrar
                    </button>
                </clr-dg-action-overflow>
<clr-dg-cell >{{fideicomisospendientesliberar.fideicomisoItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisospendientesliberar.nombrefiso}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisospendientesliberar.tiponegocioItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisospendientesliberar.clasifproductoItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisospendientesliberar.manejoItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisospendientesliberar.tipopersonaItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisospendientesliberar.estatusItem}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-column-toggle>
                    <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                    <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                </clr-dg-column-toggle>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    de {{pagination.totalItems}} registros
                </clr-dg-pagination>
            </clr-dg-footer>
    	</clr-datagrid>
</div>		
