<!-- PSG Agenda Edit Html -->
<!-- head -->
<div class="card-header">
    Editar Agenda
</div> 
<!-- ./head -->

<!-- form -->    
<form class="form" [formGroup]="agendaForm">
	<!-- div -->
	<div style="margin: 20px;">
	
	<!-- fields -->
  		<div class="clr-form-control" id="fideicomisoId">
  		        <label for="fideicomisoItem" class="clr-control-label">Fideicomiso<span class="required">*</span></label>
  		        <div class="clr-control-container clr-col-md-12"> 
  		            <div class="clr-input-wrapper">
  		            <label for="fideicomisoItem" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
  		                    [class.invalid]="agendaForm.get('fideicomisoItem').invalid && (agendaForm.get('fideicomisoItem').dirty || agendaForm.get('fideicomisoItem').touched)">
  		                <input id="fideicomisoId"   type="hidden" formControlName="fideicomisoId" placeholder="Fideicomiso" class="clr-input clr-col-sm-12 clr-col-md-12" disabled>
  		                <input id="fideicomisoItem" type="text"   formControlName="fideicomisoItem" placeholder="Fideicomiso" class="clr-input clr-col-sm-12 clr-col-md-12" disabled>
  		                <button type="button" class="btn btn-sm" style="margin-top: -17px" (click)="modalfideicomiso = true"><clr-icon shape="search"></clr-icon></button>
  		                <span class="tooltip-content">
  		                    Fideicomiso es requerido.
  		                </span>
  		            </label>
  		            </div>
  		        </div>
  		    </div><!-- ./fideicomiso 1--> 
  		<div class="clr-form-control" id="subfisoId">
  		        <label for="subfisoItem" class="clr-control-label">Sub fiso<span class="required">*</span></label>
  		        <div class="clr-control-container clr-col-md-12"> 
  		            <div class="clr-input-wrapper">
  		            <label for="subfisoItem" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
  		                    [class.invalid]="agendaForm.get('subfisoItem').invalid && (agendaForm.get('subfisoItem').dirty || agendaForm.get('subfisoItem').touched)">
  		                <input id="subfisoId"   type="hidden" formControlName="subfisoId" placeholder="Subfiso" class="clr-input clr-col-sm-12 clr-col-md-12" disabled>
  		                <input id="subfisoItem" type="text"   formControlName="subfisoItem" placeholder="Subfiso" class="clr-input clr-col-sm-12 clr-col-md-12" disabled>
  		                <button type="button" class="btn btn-sm" style="margin-top: -17px" (click)="modalsubfiso = true"><clr-icon shape="search"></clr-icon></button>
  		                <span class="tooltip-content">
  		                    Subfiso es requerido.
  		                </span>
  		            </label>
  		            </div>
  		        </div>
  		    </div><!-- ./subfiso 1--> 
  		<div class="clr-form-control"><!-- evento 1-->
  		    <label for="evento" class="clr-control-label">Evento<span class="required">*</span></label>
  		    <div class="clr-control-container clr-col-md-12"> <!-- evento 2-->
  		        <label for="evento" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
  		                [class.invalid]="agendaForm.get('evento').invalid && (agendaForm.get('evento').dirty || agendaForm.get('evento').touched)">
  		            <input id="evento" type="text" formControlName="evento" placeholder="" class="clr-input clr-col-sm-11 clr-col-md-12" >
  		            <span class="tooltip-content">
  		                Evento es requerido.
  		            </span>
  		        </label>
  		    </div>
  		</div>
  		<div class="clr-form-control"><!-- fecha 1-->
  		    <label for="fecha" class="clr-control-label">Fecha<span class="required">*</span></label>
  		    <div class="clr-control-container clr-col-md-12"> <!-- fecha 2-->
  		        <label for="fecha" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
  		                [class.invalid]="agendaForm.get('fecha').invalid && (agendaForm.get('fecha').dirty || agendaForm.get('fecha').touched)">
  		            <input id="fecha" type="text" formControlName="fecha" placeholder="" class="clr-input clr-col-sm-11 clr-col-md-12" >
  		            <span class="tooltip-content">
  		                Fecha es requerido.
  		            </span>
  		        </label>
  		    </div>
  		</div>
  		<div class="clr-form-control" id="estatus">
  		        <label for="estatusagenda" class="clr-control-label"> Estatus<span class="required">*</span></label>
  		            <div class="clr-control-container">
  			<div class="clr-select-wrapper">
  				<select formControlName="estatus" required>
  				<option value=""> -- Seleccione un valor -- </option>
  		<option value="APLICADO">APLICADO</option>
  		<option value="ACTIVO">ACTIVO</option>
  		        </select>
  				<clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
  			</div>
  		</div>
  		    </div><!-- ./estatusagenda 1--> 
  		<div class="clr-form-control"><!-- observacion 1-->
  		    <label for="observacion" class="clr-control-label">Observación<span class="required">*</span></label>
  		    <div class="clr-control-container clr-col-md-12"> <!-- observacion 2-->
  		        <label for="observacion" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
  		                [class.invalid]="agendaForm.get('observacion').invalid && (agendaForm.get('observacion').dirty || agendaForm.get('observacion').touched)">
  		            <input id="observacion" type="text" formControlName="observacion" placeholder="" class="clr-input clr-col-sm-11 clr-col-md-12" >
  		            <span class="tooltip-content">
  		                Observación es requerido.
  		            </span>
  		        </label>
  		    </div>
  		</div>
  		<div class="clr-form-control">
  		    <label for="concovados" class="clr-control-label">Convocados</label>
  		    <div class="clr-control-container clr-col-md-12"> 
  		        <label for="concovados" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
  		                [class.invalid]="agendaForm.get('concovados').invalid && (agendaForm.get('concovados').dirty || agendaForm.get('concovados').touched)">
  		            <textarea id="concovados" formControlName="concovados" rows="5" placeholder="" class="clr-textarea clr-col-sm-12 clr-col-md-12"></textarea>
  		            <span class="tooltip-content">
  		                Convocados es requerido.
  		            </span>
  		        </label>
  		    </div>
  		</div>
	<!-- ./fields -->

	<!-- // Json 	
	<p>Form value {{ agendaForm.value | json }} </p>
	<p> Form status {{ agendaForm.status | json}} </p> 
	-->

    <!-- buttons -->        
    <p>   
        <button type="submit" class="btn btn-primary" (click)="editaAgenda()"><clr-icon shape="success-standard"></clr-icon> Editar</button>
        <button type="submit" class="btn btn-outline" (click)="regresaAgenda()"><clr-icon shape="undo"></clr-icon> Regresar</button>
    </p>
    <!-- ./buttons -->

	<!-- modals -->
<clr-modal [(clrModalOpen)]="modalfideicomiso" [clrModalSize]="'xl'">
    <h3 class="modal-title">Fideicomiso</h3>
			
			<!-- body -->
    <div class="modal-body">
    	
		<!--  grid -->
        <clr-datagrid [clrDgLoading]="loading">
            <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
            <clr-dg-column>
            <!-- radio -->     
            </clr-dg-column>
  
    		<clr-dg-column [clrDgField]="'generalesadministradorItem'" >
    		    <ng-container *clrDgHideableColumn="{hidden: false}">
    		        Generales_Administrador
    		    </ng-container> 
    		</clr-dg-column>	
    		<clr-dg-column [clrDgField]="'generalespromotorItem'" >
    		    <ng-container *clrDgHideableColumn="{hidden: false}">
    		        Generales_Promotor
    		    </ng-container> 
    		</clr-dg-column>	
  
  			<clr-dg-row *ngFor="let fideicomiso of fideicomisoArray">
  			<clr-dg-cell><input type="radio" name="fideicomisoId" [checked]="fideicomiso.checked" value="{{fideicomiso.id}}" (click)="setClickedRowFideicomiso(i, fideicomiso)"></clr-dg-cell>
    		<clr-dg-cell >{{fideicomiso.generalesadministradorItem}}</clr-dg-cell>
    		<clr-dg-cell >{{fideicomiso.generalespromotorItem}}</clr-dg-cell>
            </clr-dg-row>
            
            <!-- footer -->
            <clr-dg-footer>
                <clr-dg-column-toggle>
                    <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                    <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                </clr-dg-column-toggle>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    de {{pagination.totalItems}} registros
                </clr-dg-pagination>
            </clr-dg-footer>
            <!-- ./footer -->
        
        	</clr-datagrid>
        	<!--  ./grid -->
        	
        </div>
        <!-- ./body -->
        
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="modalfideicomiso = false">Regresar</button>
            <button type="button" class="btn btn-primary" (click)="modalfideicomiso = false">Elegir</button>
        </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="modalsubfiso" [clrModalSize]="'xl'">
    <h3 class="modal-title">Subfiso</h3>
			
			<!-- body -->
    <div class="modal-body">
    	
		<!--  grid -->
        <clr-datagrid [clrDgLoading]="loading">
            <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
            <clr-dg-column>
            <!-- radio -->     
            </clr-dg-column>
  
    		<clr-dg-column [clrDgField]="'fideicomisoItem'" >
    		        <ng-container *clrDgHideableColumn="{hidden: false}">
    		            Fideicomiso
    		        </ng-container>
    		    </clr-dg-column> 								
    		<clr-dg-column [clrDgField]="'numero'">
    		        <ng-container *clrDgHideableColumn="{hidden: false}"> 
    		            Número
    		        </ng-container>    
    		    </clr-dg-column>	
    		<clr-dg-column [clrDgField]="'nombre'">
    		        <ng-container *clrDgHideableColumn="{hidden: false}"> 
    		            Nombre
    		        </ng-container>    
    		    </clr-dg-column>
    		<clr-dg-column [clrDgField]="'estatusItem'" >
    		    <ng-container *clrDgHideableColumn="{hidden: false}">
    		        Estatus
    		    </ng-container> 
    		</clr-dg-column>	
  
  			<clr-dg-row *ngFor="let subfiso of subfisoArray">
  			<clr-dg-cell><input type="radio" name="subfisoId" [checked]="subfiso.checked" value="{{subfiso.id}}" (click)="setClickedRowSubfiso(i, subfiso)"></clr-dg-cell>
    		<clr-dg-cell >{{subfiso.fideicomisoItem}}</clr-dg-cell>
    		<clr-dg-cell>{{subfiso.numero}}</clr-dg-cell>
    		<clr-dg-cell>{{subfiso.nombre}}</clr-dg-cell>
    		<clr-dg-cell >{{subfiso.estatusItem}}</clr-dg-cell>
            </clr-dg-row>
            
            <!-- footer -->
            <clr-dg-footer>
                <clr-dg-column-toggle>
                    <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                    <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                </clr-dg-column-toggle>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    de {{pagination.totalItems}} registros
                </clr-dg-pagination>
            </clr-dg-footer>
            <!-- ./footer -->
        
        	</clr-datagrid>
        	<!--  ./grid -->
        	
        </div>
        <!-- ./body -->
        
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="modalsubfiso = false">Regresar</button>
            <button type="button" class="btn btn-primary" (click)="modalsubfiso = false">Elegir</button>
        </div>
</clr-modal>
    <!-- ./modals -->
    
    </div>
    <!-- ./div -->
</form>
<!-- ./form --> 
    
