<header class="header header-6">
  <div class="branding">
    <a href="#" class="nav-link">
      <img src="../../assets/logo.png" width="30px" />
      <span class="title"> APPLICATION DEVELOPMENT </span>
    </a>
  </div>
  <!-- <div class="header-actions">
    <clr-dropdown>
      <button class="nav-text" clrDropdownTrigger>
        <div>
          {{ valueName }}
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </div>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
        <a href="javascript://" clrDropdownItem>Acerca</a>
        <a href="javascript://" clrDropdownItem>Configuración</a>
        <a [routerLink]="['/login']" (click)="logout()" clrDropdownItem
          >Salir</a
        >
      </clr-dropdown-menu>
    </clr-dropdown>
  </div> -->
</header>
