<!-- PSG Administrar Institucion Html -->
<div class="card-header">
Administrar Institución
</div>

<div class="card-block">
<button type="button"  *ngIf="institucion_create" class="btn btn-icon btn-outline" (click)="getInstitucion()">
    <clr-icon shape="plus"></clr-icon> Agregar
</button>
    
    <clr-datagrid [clrDgLoading]="loading">
        <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
		<clr-dg-column [clrDgField]="'claveinstitucion'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Clave Institución
		    </ng-container>    
		</clr-dg-column>	
		<clr-dg-column [clrDgField]="'nombreinstitucion'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Nombre Institución
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'representante'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Representante
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'paginaweb'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Página Web
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'telefono'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Telefono
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'tipoItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Tipo
		    </ng-container> 
		</clr-dg-column>
            <clr-dg-row *clrDgItems="let institucion of institucionArray" [clrDgItem]="institucion">
                <!-- <div hidden="true">
                    <div *ngIf="institucion_update">
                        <button class="action-item" (click)="setClickedRowEditaInstitucion(institucion)">Editar</button> 
                    </div>
                    <div *ngIf="institucion_delete">
                        <button class="action-item" (click)="setClickedRowEliminaInstitucion(institucion)">Eliminar</button>
                    </div>
				<div *ngIf="organiza_read">
				            <button class="action-item"  (click)="setClickedRowConsultaOrganiza(institucion)">Organiza</button>
				        </div>
                </div> -->
                <clr-dg-action-overflow>
                    <button class="action-item" *ngIf="institucion_update" (click)="setClickedRowEditaInstitucion( institucion)">
                        <clr-icon shape="note" ></clr-icon> Editar
                    </button>
                    <button class="action-item" *ngIf="institucion_delete" (click)="setClickedRowEliminaInstitucion( institucion)">
                        <clr-icon shape="trash"></clr-icon> Borrar
                    </button>
				<div class="line-list"></div>
				    <button class="action-item" *ngIf="evento_read" (click)="setClickedRowConsultaEvento(institucion)">
				        <clr-icon shape="flow-chart"></clr-icon> Evento
				    </button>
                </clr-dg-action-overflow>
<clr-dg-cell >{{institucion.claveinstitucion}}</clr-dg-cell>
<clr-dg-cell >{{institucion.nombreinstitucion}}</clr-dg-cell>
<clr-dg-cell >{{institucion.representante}}</clr-dg-cell>
<clr-dg-cell >{{institucion.paginaweb}}</clr-dg-cell>
<clr-dg-cell >{{institucion.telefono}}</clr-dg-cell>
<clr-dg-cell >{{institucion.tipoItem}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-column-toggle>
                    <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                    <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                </clr-dg-column-toggle>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    de {{pagination.totalItems}} registros
                </clr-dg-pagination>
            </clr-dg-footer>
    	</clr-datagrid>
</div>		
