<!-- PSG Administrar Pregunta Html -->
<div class="card-header">
Administrar Pregunta
</div>

<div class="card-block">
<button type="button"  *ngIf="pregunta_create" class="btn btn-icon btn-outline" (click)="getPregunta()">
    <clr-icon shape="plus"></clr-icon> Agregar
</button>
    
    <clr-datagrid [clrDgLoading]="loading">
        <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
		<clr-dg-column [clrDgField]="'peterneceItem'" >
		        <ng-container *clrDgHideableColumn="{hidden: false}">
		            Peternece
		        </ng-container>
		    </clr-dg-column> 
		<clr-dg-column [clrDgField]="'descipcionpregunta'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Descripción pregunta
		    </ng-container>    
		</clr-dg-column>
            <clr-dg-row *clrDgItems="let pregunta of preguntaArray" [clrDgItem]="pregunta">
                <div hidden="true">
                    <div *ngIf="pregunta_update">
                        <button class="action-item" (click)="setClickedRowEditaPregunta(i, pregunta)">Editar</button> 
                    </div>
                    <div *ngIf="pregunta_delete">
                        <button class="action-item" (click)="setClickedRowEliminaPregunta(i, pregunta)">Eliminar</button>
                    </div>
                </div>
                <clr-dg-action-overflow>
                    <button class="action-item" *ngIf="pregunta_update" (click)="setClickedRowEditaPregunta(i, pregunta)">
                        <clr-icon shape="note" ></clr-icon> Editar
                    </button>
                    <button class="action-item" *ngIf="pregunta_delete" (click)="setClickedRowEliminaPregunta(i, pregunta)">
                        <clr-icon shape="trash"></clr-icon> Borrar
                    </button>
                </clr-dg-action-overflow>
<clr-dg-cell >{{pregunta.peterneceItem}}</clr-dg-cell>
<clr-dg-cell >{{pregunta.descipcionpregunta}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-column-toggle>
                    <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                    <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                </clr-dg-column-toggle>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    de {{pagination.totalItems}} registros
                </clr-dg-pagination>
            </clr-dg-footer>
    	</clr-datagrid>
</div>		
