<!-- PSG Administrar Afiliado Html -->
<div class="card-header">
  Administrar Permisos
</div>

<div class="card-block">
  <table class="table">
    <tbody>
      <tr *ngFor="let adminPermiso of adminPermisoList|slice:0:1">
        <td class="header-content">RESOURCE</td>
        <td class="header-content">ACTION</td>
        <td *ngFor="let rol of adminPermiso.roles; let j = index">
          <div>{{ rol.name| uppercase}}</div>
        </td>
      </tr>

      <tr *ngFor="let adminPermiso of adminPermisoList; let k = index">
        <td>{{adminPermiso.permission.resource | uppercase}}</td>
        <td>{{adminPermiso.permission.action | uppercase}}</td>

        <td *ngFor="let rol of adminPermiso.roles; let j = index">
          <div *ngIf="rol.name == 'administrator' || rol.name == 'ADMIN'">
            <input
              type="checkbox"
              disabled
              [checked]="rol.assigned"
              (change)="saveData(adminPermiso, rol)"
              value="rol.assigned"
            />
          </div>
          <div *ngIf="rol.name != 'administrator' && rol.name != 'ADMIN'">
            <input
              type="checkbox"
              [checked]="rol.assigned"
              (change)="saveData(adminPermiso, rol)"
              value="rol.assigned"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
