<!-- PSG Administrar Fideicomisario Html -->
<div class="card-header">
Administrar Fideicomisario
</div>

<div class="card-block">
<button type="button"  *ngIf="fideicomisario_create" class="btn btn-icon btn-outline" (click)="getFideicomisario()">
    <clr-icon shape="plus"></clr-icon> Agregar
</button>
    
    <clr-datagrid [clrDgLoading]="loading">
        <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
		<clr-dg-column [clrDgField]="'numerofideicomisario'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Número Fideicomisario
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'tipopersonaItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Tipo Persona
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'participante'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Participante/Razón social
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'fideicomisoItem'" >
		        <ng-container *clrDgHideableColumn="{hidden: false}">
		            Fideicomiso
		        </ng-container>
		    </clr-dg-column> 
		<clr-dg-column [clrDgField]="'regimenfiscalItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Régimen Fiscal
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'generalescontroladorfideicomisoItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Generales_Beneficiario/Controlador Fideicomiso
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'generalesnacionalidadItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Generales_Nacionalidad
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'generalespaisorigenItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Generales_País de origen
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'generalesactividadItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Generales_Actividad
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'generalesaportarecursosItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Generales_Aporta recursos
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'generalespaisresidenciaItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Generales_País de residencia
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'generalesclientescotiabankItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Generales_Cliente Scotiabank
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'generalespepItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Generales_El Cliente es un PEP'S
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'generalesestatusItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Generales_Estatus
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Generales_Grupo o filial
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'generalescalidadmigratoriaItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Generales_Calidad Migratoria
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'generaleslugaroperacionItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Generales_Lugar de operación
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'generalesoperacuentatercerosItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Generales_Opera por cuenta de terceros
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'generalesnivelparticipanteItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Generales_Nivel de participante
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'generalesclienterelacionpepItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Generales_El cliente tiene relación con un PEP'S
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Generales_Grado
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		InfoPldKyc_Honorarios
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'infopldkyccomisionesItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        InfoPldKyc_Comisiones
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'infopldkycotrosItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        InfoPldKyc_Otros
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'infopldkycsueldosItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        InfoPldKyc_Sueldos
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'infopldkycventaItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        InfoPldKyc_Venta
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'infopldkycinversionesItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        InfoPldKyc_Inversiones
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'infopldkycarrendamientoItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        InfoPldKyc_Arrendamiento
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		InfoPldKyc_Tipo Patrimonio
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'infopldkycinstrumentoItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        InfoPldKyc_Instrumento
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		InfoPldKyc_Razón apertura del contrato
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		InfoPldKyc_Comentarios sobre el cliete en relación al riesgo de lavado de dinero, experiencia, mitigantes, actividad etc.
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'infopldkycnivelriesgoItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        InfoPldKyc_Nivel de riesgo KYC y cálculo PLD
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		InfoPldKyc_Estatus de cálculo PLD
		    </ng-container>    
		</clr-dg-column>
			        <clr-dg-column>
			        <ng-container *clrDgHideableColumn="{hidden: true}"> 
		InfoPldKyc_Fecha verificación MESA DE CONTROL
			            </ng-container>    
			        </clr-dg-column>
		<clr-dg-column [clrDgField]="'identificacionrfc'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Identificacion_RFC
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_CURP
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_No.serie firma electrónica avanzada
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'identificacionpaisresidfisc1Item'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Identificacion_País de residencia fiscal 1
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'identificacionpaisresidfisc2Item'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Identificacion_País de residencia fiscal 2
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_E-mail
		    </ng-container>    
		</clr-dg-column>
			        <clr-dg-column>
			        <ng-container *clrDgHideableColumn="{hidden: true}"> 
		Identificacion_Fecha Nacimiento/Constitución
			            </ng-container>    
			        </clr-dg-column>
		<clr-dg-column [clrDgField]="'identificacionsexoItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Identificacion_Sexo
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'identificacionpaiscasaItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Identificacion_País Casa
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'identificacionpaisoficinaItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Identificacion_País Oficina
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'identificacionpaiscelularItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Identificacion_País Celular
		    </ng-container> 
		</clr-dg-column>
			        <clr-dg-column>
			        <ng-container *clrDgHideableColumn="{hidden: true}"> 
		Identificacion_Fecha de inicio de relación de negocios
			            </ng-container>    
			        </clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_No. identificación
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_Comprobación de domicilio
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'identificacionactividadempresarialItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Identificacion_Actividad empresarial
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_No. ident. fiscal 1
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_No. ident. fiscal 2
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_Clasificación Fatca
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_Lada Casa
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_Lada Oficina
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_Lada Celular
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_Número Casa
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_Número Oficina
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_Número Celular
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_Ext Oficina
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_Ext Celular
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_Identificación oficial vigente
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificacion_Vigencia
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Escritura_No. escritura
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'escrituranotarioItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Escritura_Notario
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Escritura_No. notaría
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Escritura_Ciudad
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Escritura_Teléfono
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Escritura_Email
		    </ng-container>    
		</clr-dg-column>
			        <clr-dg-column>
			        <ng-container *clrDgHideableColumn="{hidden: true}"> 
		Escritura_Fecha
			            </ng-container>    
			        </clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Escritura_Estado
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		CuentasKYC_No. de Cuenta 1
		    </ng-container>    
		</clr-dg-column>	
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		CuentasKYC_Tipo de cuenta 1
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		CuentasKYC_No. de Cuenta 2
		    </ng-container>    
		</clr-dg-column>	
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		CuentasKYC_Tipo de cuenta 2
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		CuentasKYC_No. de Cuenta 3
		    </ng-container>    
		</clr-dg-column>	
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		CuentasKYC_Tipo de cuenta 3
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		CuentasKYC_No. de Cuenta 4
		    </ng-container>    
		</clr-dg-column>	
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		CuentasKYC_Tipo de cuenta 4
		    </ng-container>    
		</clr-dg-column>
            <clr-dg-row *clrDgItems="let fideicomisario of fideicomisarioArray" [clrDgItem]="fideicomisario">
                <div hidden="true">
                    <div>
                        <button class="action-item" (click)="setClickedRowEditaFideicomisario(i, fideicomisario)">Editar</button> 
                    </div>
                    <div>
                        <button class="action-item" (click)="setClickedRowEliminaFideicomisario(i, fideicomisario)">Eliminar</button>
                    </div>
                </div>
                <clr-dg-action-overflow>
                    <button class="action-item" *ngIf="fideicomisario_update" (click)="setClickedRowEditaFideicomisario(i, fideicomisario)">
                        <clr-icon shape="note" ></clr-icon> Editar
                    </button>
                    <button class="action-item" *ngIf="fideicomisario_delete" (click)="setClickedRowEliminaFideicomisario(i, fideicomisario)">
                        <clr-icon shape="trash"></clr-icon> Borrar
                    </button>
                </clr-dg-action-overflow>
<clr-dg-cell >{{fideicomisario.numerofideicomisario}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.tipopersonaItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.participante}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.fideicomisoItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.regimenfiscalItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.generalescontroladorfideicomisoItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.generalesnacionalidadItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.generalespaisorigenItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.generalesactividadItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.generalesaportarecursosItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.generalespaisresidenciaItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.generalesclientescotiabankItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.generalespepItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.generalesestatusItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.generalesgrupofilial}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.generalescalidadmigratoriaItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.generaleslugaroperacionItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.generalesoperacuentatercerosItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.generalesnivelparticipanteItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.generalesclienterelacionpepItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.generalesgrado}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.infopldkychonorarios}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.infopldkyccomisionesItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.infopldkycotrosItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.infopldkycsueldosItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.infopldkycventaItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.infopldkycinversionesItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.infopldkycarrendamientoItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.infopldkyctipopatrimonio}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.infopldkycinstrumentoItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.infopldkycrazonapertura}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.infopldkyccomentarios}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.infopldkycnivelriesgoItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.infopldkycestatuscalculopld}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.infopldkycfechaveriffircosoft | date: 'dd/MM/yyyy'}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionrfc}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacioncurp}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionnoserieefirma}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionpaisresidfisc1Item}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionpaisresidfisc2Item}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionemail}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionfechaconstitucion | date: 'dd/MM/yyyy'}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionsexoItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionpaiscasaItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionpaisoficinaItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionpaiscelularItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionfechainiciorelneg | date: 'dd/MM/yyyy'}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionnoidentificacion}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacioncomprobaciondomicilio}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionactividadempresarialItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionnoidentfisc1}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionnoidentfisc2}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionclasificacionfatca}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionladacasa}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionladaoficina}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionladacelular}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionnumerocasa}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionnumerooficina}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionnumerocelular}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionextoficina}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionextcelular}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionidentoficialvig}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.identificacionvigencia}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.escrituranoescritura}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.escrituranotarioItem}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.escrituranonotaria}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.escrituraciudad}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.escrituratelefono}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.escrituraemail}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.escriturafecha | date: 'dd/MM/yyyy'}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.escrituraestado}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.cuentaskycnocuenta1}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.cuentaskyctipocuenta1}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.cuentaskycnocuenta2}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.cuentaskyctipocuenta2}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.cuentaskycnocuenta3}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.cuentaskyctipocuenta3}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.cuentaskycnocuenta4}}</clr-dg-cell>
<clr-dg-cell >{{fideicomisario.cuentaskyctipocuenta4}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-column-toggle>
                    <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                    <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                </clr-dg-column-toggle>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    de {{pagination.totalItems}} registros
                </clr-dg-pagination>
            </clr-dg-footer>
    	</clr-datagrid>
</div>		
