<!-- PSG Administrar Subfiso Html -->
<div class="card-header">
Administrar Sub fiso
</div>

<div class="card-block">
<button type="button"  *ngIf="subfiso_create" class="btn btn-icon btn-outline" (click)="getSubfiso()">
    <clr-icon shape="plus"></clr-icon> Agregar
</button>
    
    <clr-datagrid [clrDgLoading]="loading">
        <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
		<clr-dg-column [clrDgField]="'fideicomisoItem'" >
		        <ng-container *clrDgHideableColumn="{hidden: false}">
		            Fideicomiso
		        </ng-container>
		    </clr-dg-column> 
		<clr-dg-column [clrDgField]="'numero'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Número
		    </ng-container>    
		</clr-dg-column>	
		<clr-dg-column [clrDgField]="'nombre'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Nombre
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'estatusItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Estatus
		    </ng-container> 
		</clr-dg-column>
			        <clr-dg-column>
			        <ng-container *clrDgHideableColumn="{hidden: true}"> 
		Fecha registro
			            </ng-container>    
			        </clr-dg-column>
		<clr-dg-column>
		<ng-container *clrDgHideableColumn="{hidden: true}"> 
		       		Identificador
		    </ng-container>    
		</clr-dg-column>
            <clr-dg-row *clrDgItems="let subfiso of subfisoArray" [clrDgItem]="subfiso">
                <div hidden="true">
                    <div>
                        <button class="action-item" (click)="setClickedRowEditaSubfiso(i, subfiso)">Editar</button> 
                    </div>
                    <div>
                        <button class="action-item" (click)="setClickedRowEliminaSubfiso(i, subfiso)">Eliminar</button>
                    </div>
                </div>
                <clr-dg-action-overflow>
                    <button class="action-item" *ngIf="subfiso_update" (click)="setClickedRowEditaSubfiso(i, subfiso)">
                        <clr-icon shape="note" ></clr-icon> Editar
                    </button>
                    <button class="action-item" *ngIf="subfiso_delete" (click)="setClickedRowEliminaSubfiso(i, subfiso)">
                        <clr-icon shape="trash"></clr-icon> Borrar
                    </button>
                </clr-dg-action-overflow>
<clr-dg-cell >{{subfiso.fideicomisoItem}}</clr-dg-cell>
<clr-dg-cell >{{subfiso.numero}}</clr-dg-cell>
<clr-dg-cell >{{subfiso.nombre}}</clr-dg-cell>
<clr-dg-cell >{{subfiso.estatusItem}}</clr-dg-cell>
<clr-dg-cell >{{subfiso.fecharegistro | date: 'dd/MM/yyyy'}}</clr-dg-cell>
<clr-dg-cell >{{subfiso.identificador}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-column-toggle>
                    <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                    <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                </clr-dg-column-toggle>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    de {{pagination.totalItems}} registros
                </clr-dg-pagination>
            </clr-dg-footer>
    	</clr-datagrid>
</div>		
