<!-- PSG Administrar Programa Html -->
<div class="card-header">
Administrar Programa
</div>

<div class="card-block">
<button type="button"  *ngIf="programa_create" class="btn btn-icon btn-outline" (click)="getPrograma()">
    <clr-icon shape="plus"></clr-icon> Agregar
</button>
    
    <clr-datagrid [clrDgLoading]="loading">
        <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
		<clr-dg-column [clrDgField]="'clave'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Clave programa
		    </ng-container>    
		</clr-dg-column>	
		<clr-dg-column [clrDgField]="'nombreprograma'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Nombre programa
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'tipoItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Tipo
		    </ng-container> 
		</clr-dg-column>
            <clr-dg-row *clrDgItems="let programa of programaArray" [clrDgItem]="programa">
                <div hidden="true">
                    <div *ngIf="programa_update">
                        <button class="action-item" (click)="setClickedRowEditaPrograma(i, programa)">Editar</button> 
                    </div>
                    <div *ngIf="programa_delete">
                        <button class="action-item" (click)="setClickedRowEliminaPrograma(i, programa)">Eliminar</button>
                    </div>
				<div *ngIf="concierne_read">
				            <button class="action-item"  (click)="setClickedRowConsultaConcierne(i,programa)">Concierne</button>
				        </div>
				<div *ngIf="comunicadopor_read">
				            <button class="action-item"  (click)="setClickedRowConsultaComunicadopor(i,programa)">Comunicadopor</button>
				        </div>
                </div>
                <clr-dg-action-overflow>
                    <button class="action-item" *ngIf="programa_update" (click)="setClickedRowEditaPrograma(i, programa)">
                        <clr-icon shape="note" ></clr-icon> Editar
                    </button>
                    <button class="action-item" *ngIf="programa_delete" (click)="setClickedRowEliminaPrograma(i, programa)">
                        <clr-icon shape="trash"></clr-icon> Borrar
                    </button>
				<div class="line-list"></div>
				    <button class="action-item" *ngIf="estudiante_read" (click)="setClickedRowConsultaEstudiante(i,programa)">
				        <clr-icon shape="flow-chart"></clr-icon> Estudiante
				    </button>
				<div class="line-list"></div>
				    <button class="action-item" *ngIf="publicacion_read" (click)="setClickedRowConsultaPublicacion(i,programa)">
				        <clr-icon shape="flow-chart"></clr-icon> Publicacion
				    </button>
                </clr-dg-action-overflow>
<clr-dg-cell >{{programa.clave}}</clr-dg-cell>
<clr-dg-cell >{{programa.nombreprograma}}</clr-dg-cell>
<clr-dg-cell >{{programa.tipoItem}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-column-toggle>
                    <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                    <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                </clr-dg-column-toggle>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    de {{pagination.totalItems}} registros
                </clr-dg-pagination>
            </clr-dg-footer>
    	</clr-datagrid>
</div>		
