<!-- Input Control -->
<div *ngIf="2 > linecount && type !== 'modal'" [formGroup]="_formGroup">
  <div class="clr-form-control ">
    <label for="{{ id }}Id" class="clr-control-label clr-col-md-12"
      >{{ label }}
      <span *ngIf="required" class="required"> *</span>
    </label>
    <div
      class="clr-control-container clr-col-md-12"
      [class.clr-error]="
        _formGroup.get(id).invalid &&
        _formGroup.get(id).touched &&
        type !== 'modal'
      "
    >
      <div class="clr-input-wrapper">
        <clr-icon
          *ngIf="type === '' || type === 'text'"
          shape="font-size"
        ></clr-icon>
        <clr-icon *ngIf="type === 'password'" shape="eye-hide"></clr-icon>
        <clr-icon *ngIf="type === 'email'" shape="envelope"></clr-icon>
        <clr-icon *ngIf="type === 'currency'" shape="dollar"></clr-icon>
        <clr-icon
          *ngIf="type === 'decimal' || type === 'integer'"
          shape="calculator"
        ></clr-icon>
        <clr-icon *ngIf="type === 'file'" shape="image"></clr-icon>
        <clr-icon *ngIf="type === 'image'" shape="image"></clr-icon>

        <input
          *ngIf="type === 'integer'"
          id="{{ id }}"
          type="text"
          formControlName="{{ id }}"
          placeholder="{{ placeholder }}"
          class="clr-input clr-col-md-11"
          mask="separator.0"
          thousandSeparator=","
        />
        <input
          *ngIf="
            type === '' ||
            type === 'text' ||
            type === 'password' ||
            type === 'email'
          "
          id="{{ id }}"
          type="{{ type }}"
          formControlName="{{ id }}"
          placeholder="{{ placeholder }}"
          class="clr-input clr-col-md-11"
        />
        <input
          *ngIf="type === 'decimal' || type === 'currency'"
          id="{{ id }}"
          type="text"
          formControlName="{{ id }}"
          placeholder="{{ placeholder }}"
          class="clr-input clr-col-md-11"
          mask="separator.5"
          thousandSeparator=","
        />
        <input
          *ngIf="type === 'file' || type === 'image'"
          id="{{ id }}"
          type="file"
          formControlName="{{ id }}"
          placeholder="{{ placeholder }}"
          class="clr-input clr-col-md-11"
        />

        <div *ngIf="help === ''; else notEmpty"></div>
        <ng-template #notEmpty>
          <div role="tooltip" aria-haspopup="true" class="tooltip tooltip-left">
            <clr-icon shape="info-circle" size="24"></clr-icon>
            <span class="tooltip-content">{{ help }}</span>
          </div>
        </ng-template>

        <span
          class="clr-subtext"
          *ngIf="_formGroup.get(id).invalid && _formGroup.get(id).touched"
        >
          <div *ngIf="error === ''; else showError">
            <clr-icon
              class="clr-validate-icon"
              shape="exclamation-circle"
            ></clr-icon>
            <ng-template [ngIf]="_formGroup.get(id).hasError('required')"
              >{{ label }} es requerido</ng-template
            >
            <ng-template [ngIf]="_formGroup.get(id).hasError('maxlength')"
            >{{ label }} ha excedido la longitud máxima de
            {{ maxlength }}</ng-template
          >
          <ng-template [ngIf]="_formGroup.get(id).hasError('minlength')"
            >{{ label }} no ha alcanzado la longitud mínima de
            {{ minlength }}</ng-template
          >
          </div>
          <ng-template #showError>
            <clr-icon
              class="clr-validate-icon"
              shape="exclamation-circle"
            ></clr-icon
            >{{ error }}
          </ng-template>
          <p></p>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- ./Input Control -->

<!-- Textarea Control -->
<div *ngIf="linecount > 1" [formGroup]="_formGroup">
  <div class="clr-form-control">
    <label for="{{ for }}" class="clr-control-label clr-col-md-12"
      >{{ label }}
      <span *ngIf="required" class="required"> *</span>
    </label>
    <div
      class="clr-control-container clr-col-md-12"
      [class.clr-error]="
        _formGroup.get(id).invalid && _formGroup.get(id).touched
      "
    >
      <div class="clr-textarea-wrapper">
        <clr-icon shape="text"></clr-icon>

        <textarea
          id="{{ id }}"
          autocomplete="off"
          placeholder="{{ placeholder }}"
          formControlName="{{ id }}"
          class="clr-textarea clr-col-md-11"
        ></textarea>

        <div *ngIf="help === ''; else notEmpty"></div>
        <ng-template #notEmpty>
          <div role="tooltip" aria-haspopup="true" class="tooltip tooltip-left">
            <clr-icon shape="info-circle" size="24"></clr-icon>
            <span class="tooltip-content">{{ help }}</span>
          </div>
        </ng-template>
      </div>

      <span
        class="clr-subtext"
        *ngIf="_formGroup.get(id).invalid && _formGroup.get(id).touched"
      >
        <div *ngIf="error === ''; else showError">
          <clr-icon
            class="clr-validate-icon"
            shape="exclamation-circle"
          ></clr-icon>
          <ng-template [ngIf]="_formGroup.get(id).hasError('required')"
            >{{ label }} es requerido</ng-template
          >
          <ng-template [ngIf]="_formGroup.get(id).hasError('maxlength')"
            >{{ label }} ha excedido la longitud máxima de
            {{ maxlength }}</ng-template
          >
          <ng-template [ngIf]="_formGroup.get(id).hasError('minlength')"
            >{{ label }} no ha alcanzado la longitud mínima de
            {{ minlength }}</ng-template
          >
        </div>
        <ng-template #showError>
          <clr-icon
            class="clr-validate-icon"
            shape="exclamation-circle"
          ></clr-icon
          >{{ error }}
        </ng-template>
        <p></p>
      </span>
    </div>
  </div>
</div>
<!-- ./Textarea Control -->

<!-- Input Control -->
<div *ngIf="type === 'modal'" [formGroup]="_formGroup">
  <div class="clr-form-control ">
    <label for="{{ id }}Id" class="clr-control-label clr-col-md-12"
      >{{ label }}
      <span *ngIf="required" class="required"> *</span>
    </label>
    <div
      class="clr-control-container clr-col-md-12"
      [class.clr-error]="
        _formGroup.get(id).invalid && _formGroup.get(id).touched
      "
    >
      <div class="clr-input-wrapper">
        <clr-icon *ngIf="type === 'modal'" shape="organization"></clr-icon>
        <input
          *ngIf="type === 'modal'"
          id="{{ id }}"
          type="text"
          formControlName="{{ id }}"
          class="clr-input clr-col-md-11"
          disabled
        />
        <button
          type="button"
          class="btn btn-sm"
          (click)="openModal()"
          id="{{ id }}"
        >
          <clr-icon shape="search"></clr-icon>
        </button>

        <div *ngIf="help === ''; else notEmpty"></div>
        <ng-template #notEmpty>
          <div role="tooltip" aria-haspopup="true" class="tooltip tooltip-left">
            <clr-icon shape="info-circle" size="24"></clr-icon>
            <span class="tooltip-content">{{ help }}</span>
          </div>
        </ng-template>
      </div>

      <span
        class="clr-subtext"
        *ngIf="_formGroup.get(id).invalid && _formGroup.get(id).touched"
      >
        <div *ngIf="error === ''; else showError">
          <clr-icon
            class="clr-validate-icon"
            shape="exclamation-circle"
          ></clr-icon>
          <ng-template [ngIf]="_formGroup.get(id).hasError('required')"
            >{{ label }} es requerido</ng-template
          >
          <ng-template [ngIf]="_formGroup.get(id).hasError('maxlength')"
            >{{ label }} ha excedido la longitud máxima de
            {{ maxlength }}</ng-template
          >
          <ng-template [ngIf]="_formGroup.get(id).hasError('minlength')"
            >{{ label }} no ha alcanzado la longitud mínima de
            {{ minlength }}</ng-template
          >
        </div>
        <ng-template #showError>
          <clr-icon
            class="clr-validate-icon"
            shape="exclamation-circle"
          ></clr-icon
          >{{ error }}
        </ng-template>
        <p></p>
      </span>
    </div>
  </div>
</div>
<!-- ./Input Control -->
