<!-- PSG Aportacioninmueble Add Html -->
<!-- head -->
<div class="card-header">
    Agregar Aportación del inmueble
</div> 
<!-- ./head -->

<!-- form -->
<form class="form" [formGroup]="aportacioninmuebleForm">
    <div style="margin: 20px;">
	<div class="clr-form-control" id="fideicomisoId">
	        <label for="fideicomisoItem" class="clr-control-label">
	        Fideicomiso
	        <span class="required">*</span>
	        </label>
	        <div class="clr-control-container clr-col-md-12"> 
	            <div class="clr-input-wrapper">
	            <label for="fideicomisoItem" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
	                    [class.invalid]="aportacioninmuebleForm.get('fideicomisoItem').invalid && (aportacioninmuebleForm.get('fideicomisoItem').dirty || aportacioninmuebleForm.get('fideicomisoItem').touched)">
	                <input id="fideicomisoId"   type="hidden" formControlName="fideicomisoId" class="clr-input clr-col-sm-12 clr-col-md-12" disabled>
	                <input id="fideicomisoItem" type="text"   formControlName="fideicomisoItem" placeholder="" class="clr-input clr-col-sm-12 clr-col-md-12" disabled>
	                <button type="button" class="btn btn-sm" style="margin-top: -17px" (click)="modalfideicomiso = true"><clr-icon shape="search"></clr-icon></button>
	                <span class="tooltip-content">
	                	 Fideicomiso es requerido.
	                </span>
	            </label>
	            </div>
	        </div>
	    </div>
	<div class="clr-form-control" id="subfisoId">
	        <label for="subfisoItem" class="clr-control-label">
	        Sub fiso
	        <span class="required">*</span>
	        </label>
	        <div class="clr-control-container clr-col-md-12"> 
	            <div class="clr-input-wrapper">
	            <label for="subfisoItem" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
	                    [class.invalid]="aportacioninmuebleForm.get('subfisoItem').invalid && (aportacioninmuebleForm.get('subfisoItem').dirty || aportacioninmuebleForm.get('subfisoItem').touched)">
	                <input id="subfisoId"   type="hidden" formControlName="subfisoId" class="clr-input clr-col-sm-12 clr-col-md-12" disabled>
	                <input id="subfisoItem" type="text"   formControlName="subfisoItem" placeholder="" class="clr-input clr-col-sm-12 clr-col-md-12" disabled>
	                <button type="button" class="btn btn-sm" style="margin-top: -17px" (click)="modalsubfiso = true"><clr-icon shape="search"></clr-icon></button>
	                <span class="tooltip-content">
	                	 Sub fiso es requerido.
	                </span>
	            </label>
	            </div>
	        </div>
	    </div>
	<div class="clr-form-control">
	    <label for="tiponegocio" class="clr-control-label">
	    Tipo negocio
	    <span class="required">*</span></label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="tiponegocio" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
	                [class.invalid]="aportacioninmuebleForm.get('tiponegocio').invalid && (aportacioninmuebleForm.get('tiponegocio').dirty || aportacioninmuebleForm.get('tiponegocio').touched)">
	            <input id="tiponegocio" type="text" formControlName="tiponegocio" 
	                   placeholder=""
	                   class="clr-input clr-col-sm-12 clr-col-md-12">
	            <span class="tooltip-content">
	                Tipo negocio es requerido.
	            </span>
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="producto" class="clr-control-label">
	    Producto
	    <span class="required">*</span></label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="producto" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
	                [class.invalid]="aportacioninmuebleForm.get('producto').invalid && (aportacioninmuebleForm.get('producto').dirty || aportacioninmuebleForm.get('producto').touched)">
	            <input id="producto" type="text" formControlName="producto" 
	                   placeholder=""
	                   class="clr-input clr-col-sm-12 clr-col-md-12">
	            <span class="tooltip-content">
	                Producto es requerido.
	            </span>
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="idinmueble" class="clr-control-label">
	    Id inmueble
	    <span class="required">*</span></label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="idinmueble" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
	                [class.invalid]="aportacioninmuebleForm.get('idinmueble').invalid && (aportacioninmuebleForm.get('idinmueble').dirty || aportacioninmuebleForm.get('idinmueble').touched)">
	            <input id="idinmueble" type="text" formControlName="idinmueble" 
	                   placeholder=""
	                   class="clr-input clr-col-sm-12 clr-col-md-12">
	            <span class="tooltip-content">
	                Id inmueble es requerido.
	            </span>
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
		        <label for="fechaaltaAux" class="clr-control-label">
		        Fecha alta
		        </label>
		        <div class="clr-control-container clr-col-md-12"> 
		            <label for="fechaaltaAux">
		                <input id="fechaaltaAux" placeholder="dd/MM/yyyy" type="date" style="width: 700px" class="clr-input" clrDate formControlName="fechaaltaAux"/>
		            </label>
		        </div>
		    </div>
	<div class="clr-form-control" id="tipoinmueble">
	        <label for="tipoinmueble" class="clr-control-label">
	        Tipo inmueble
	        <span class="required">*</span>
	        </label>
	            <div class="clr-control-container">
		<div class="clr-select-wrapper">
			<select formControlName="tipoinmueble" required>
			<option value=""> -- Seleccione un valor -- </option>
	<option value="TIPO1">BODEGAS</option>
	<option value="TIPO2">CASA HABITACIÓN</option>
	<option value="TIPO3">CONSTRUCCIÓN EN PROCESO</option>
	<option value="TIPO4">DEPARTAMENTO</option>
	<option value="TIPO5">LOTE</option>
	<option value="TIPO6">OTROS INMUEBLES</option>
	        </select>
			<clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
		</div>
	</div>
	    </div>
	<div class="clr-form-control">
	    <label for="arbol" class="clr-control-label">
	    Árbol
	    </label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="arbol" class="clr-input clr-col-sm-11 clr-col-md-11">
	            <input id="arbol" type="text" formControlName="arbol" 
	            	   placeholder=""
	            	   class="clr-input clr-col-sm-12 clr-col-md-12">
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
		        <label for="fecharegistroAux" class="clr-control-label">
		        Fecha registro
		        </label>
		        <div class="clr-control-container clr-col-md-12"> 
		            <label for="fecharegistroAux">
		                <input id="fecharegistroAux" placeholder="dd/MM/yyyy" type="date" style="width: 700px" class="clr-input" clrDate formControlName="fecharegistroAux"/>
		            </label>
		        </div>
		    </div>
	<div class="clr-form-control" id="tipofraccion">
	        <label for="tipofraccion" class="clr-control-label">
	        Tipo de fracción
	        </label>
	        
	            <div class="clr-control-container">
		<div class="clr-select-wrapper">
			<select formControlName="tipofraccion">
			<option value=""> -- Seleccione un valor -- </option>
	<option value="TIPO1">BODEGA</option>
	<option value="TIPO2">CASA HABITACIÓN</option>
	<option value="TIPO3">CUARTO</option>
	<option value="TIPO4">DEPARTAMENTO</option>
	<option value="TIPO5">ESTACIONAMIENTO</option>
	        </select>
		</div>
	</div>
	    </div>
	<div class="clr-form-control">
	    <label for="descripcion" class="clr-control-label">
	    Descripción
	    <span class="required">*</span></label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="descripcion" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
	                [class.invalid]="aportacioninmuebleForm.get('descripcion').invalid && (aportacioninmuebleForm.get('descripcion').dirty || aportacioninmuebleForm.get('descripcion').touched)">
	            <textarea id="descripcion" formControlName="descripcion" rows="5" 
	            		  placeholder="" 
	            		  class="clr-textarea clr-col-sm-12 clr-col-md-12"></textarea>
	            <span class="tooltip-content">
	                Descripción es requerido.
	            </span>
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="inmueblevalorinicial" class="clr-control-label">
	    Inmueble_Valor inicial
	    <span class="required">*</span></label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="inmueblevalorinicial" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
	                [class.invalid]="aportacioninmuebleForm.get('inmueblevalorinicial').invalid && (aportacioninmuebleForm.get('inmueblevalorinicial').dirty || aportacioninmuebleForm.get('inmueblevalorinicial').touched)">
	            <input id="inmueblevalorinicial" type="text" formControlName="inmueblevalorinicial" 
	                   placeholder=""
	                   class="clr-input clr-col-sm-12 clr-col-md-12">
	            <span class="tooltip-content">
	                Inmueble_Valor inicial es requerido.
	            </span>
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="inmuebleubicacion" class="clr-control-label">
	    Inmueble_Ubicación
	    <span class="required">*</span></label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="inmuebleubicacion" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
	                [class.invalid]="aportacioninmuebleForm.get('inmuebleubicacion').invalid && (aportacioninmuebleForm.get('inmuebleubicacion').dirty || aportacioninmuebleForm.get('inmuebleubicacion').touched)">
	            <input id="inmuebleubicacion" type="text" formControlName="inmuebleubicacion" 
	                   placeholder=""
	                   class="clr-input clr-col-sm-12 clr-col-md-12">
	            <span class="tooltip-content">
	                Inmueble_Ubicación es requerido.
	            </span>
	        </label>
	    </div>
	</div>
	<div class="clr-form-control" id="inmuebleestado">
	        <label for="estados" class="clr-control-label">
	        Inmueble_Estado
	        <span class="required">*</span>
	        </label>
	            <div class="clr-control-container">
		<div class="clr-select-wrapper">
			<select formControlName="inmuebleestado" required>
			<option value=""> -- Seleccione un valor -- </option>
	<option value="CDMX">CUIDAD DE MEXICO</option>
	<option value="EDOMEX">ESTADO DE MEXICO</option>
	<option value="AGU">AGUASCALIENTES</option>
	<option value="BJ">BAJA CALIFORNIA</option>
	<option value="BJS">BAJA CALIFORNIA SUR</option>
	<option value="CM">CAMPECHE</option>
	<option value="GR">GUERRERO</option>
	<option value="HD">HIDALGO</option>
	<option value="JL">JALISCO</option>
	        </select>
			<clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
		</div>
	</div>
	    </div>
	<div class="clr-form-control">
	    <label for="inmueblesuperficie" class="clr-control-label">
	    Inmueble_Superficie
	    </label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="inmueblesuperficie" class="clr-input clr-col-sm-11 clr-col-md-11">
	            <input id="inmueblesuperficie" type="text" formControlName="inmueblesuperficie" 
	            	   placeholder=""
	            	   class="clr-input clr-col-sm-12 clr-col-md-12">
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="inmuebleindivisos" class="clr-control-label">
	    Inmueble_% Indivisos
	    </label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="inmuebleindivisos" class="clr-input clr-col-sm-11 clr-col-md-11">
	            <input id="inmuebleindivisos" type="text" formControlName="inmuebleindivisos" 
	            	   placeholder=""
	            	   class="clr-input clr-col-sm-12 clr-col-md-12">
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="inmuebledias" class="clr-control-label">
	    Inmueble_Días
	    </label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="inmuebledias" class="clr-input clr-col-sm-11 clr-col-md-11">
	            <input id="inmuebledias" type="text" formControlName="inmuebledias" 
	            	   placeholder=""
	            	   class="clr-input clr-col-sm-12 clr-col-md-12">
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="inmuebleproyectoejecutivo" class="clr-control-label">
	    Inmueble_Proyecto ejecutivo
	    </label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="inmuebleproyectoejecutivo" class="clr-input clr-col-sm-11 clr-col-md-11">
	            <input id="inmuebleproyectoejecutivo" type="text" formControlName="inmuebleproyectoejecutivo" 
	            	   placeholder=""
	            	   class="clr-input clr-col-sm-12 clr-col-md-12">
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="inmueblevaloractual" class="clr-control-label">
	    Inmueble_Valor actual
	    </label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="inmueblevaloractual" class="clr-input clr-col-sm-11 clr-col-md-11">
	            <input id="inmueblevaloractual" type="text" formControlName="inmueblevaloractual" 
	            	   placeholder=""
	            	   class="clr-input clr-col-sm-12 clr-col-md-12">
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="inmuebleciudad" class="clr-control-label">
	    Inmueble_Ciudad
	    <span class="required">*</span></label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="inmuebleciudad" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
	                [class.invalid]="aportacioninmuebleForm.get('inmuebleciudad').invalid && (aportacioninmuebleForm.get('inmuebleciudad').dirty || aportacioninmuebleForm.get('inmuebleciudad').touched)">
	            <input id="inmuebleciudad" type="text" formControlName="inmuebleciudad" 
	                   placeholder=""
	                   class="clr-input clr-col-sm-12 clr-col-md-12">
	            <span class="tooltip-content">
	                Inmueble_Ciudad es requerido.
	            </span>
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="inmueblesuperficieconstruida" class="clr-control-label">
	    Inmueble_Superficie construida
	    <span class="required">*</span></label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="inmueblesuperficieconstruida" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
	                [class.invalid]="aportacioninmuebleForm.get('inmueblesuperficieconstruida').invalid && (aportacioninmuebleForm.get('inmueblesuperficieconstruida').dirty || aportacioninmuebleForm.get('inmueblesuperficieconstruida').touched)">
	            <input id="inmueblesuperficieconstruida" type="text" formControlName="inmueblesuperficieconstruida" 
	                   placeholder=""
	                   class="clr-input clr-col-sm-12 clr-col-md-12">
	            <span class="tooltip-content">
	                Inmueble_Superficie construida es requerido.
	            </span>
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="inmueblefraccionamientounidad" class="clr-control-label">
	    Inmueble_%Fraccionamiento Unidad
	    </label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="inmueblefraccionamientounidad" class="clr-input clr-col-sm-11 clr-col-md-11">
	            <input id="inmueblefraccionamientounidad" type="text" formControlName="inmueblefraccionamientounidad" 
	            	   placeholder=""
	            	   class="clr-input clr-col-sm-12 clr-col-md-12">
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="inmuebleclavecatastral" class="clr-control-label">
	    Inmueble_Clave catastral
	    </label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="inmuebleclavecatastral" class="clr-input clr-col-sm-11 clr-col-md-11">
	            <input id="inmuebleclavecatastral" type="text" formControlName="inmuebleclavecatastral" 
	            	   placeholder=""
	            	   class="clr-input clr-col-sm-12 clr-col-md-12">
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="inmueblevalor" class="clr-control-label">
	    Inmueble_Valor
	    </label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="inmueblevalor" class="clr-input clr-col-sm-11 clr-col-md-11">
	            <input id="inmueblevalor" type="text" formControlName="inmueblevalor" 
	            	   placeholder=""
	            	   class="clr-input clr-col-sm-12 clr-col-md-12">
	        </label>
	    </div>
	</div>
	<div class="clr-form-control" id="inmuebleestatus">
	        <label for="estatusparticipante" class="clr-control-label">
	        Inmueble_Estatus
	        <span class="required">*</span>
	        </label>
	            <div class="clr-control-container">
		<div class="clr-select-wrapper">
			<select formControlName="inmuebleestatus" required>
			<option value=""> -- Seleccione un valor -- </option>
	<option value="ACTIVO">ACTIVO</option>
	<option value="CANCELADO">CANCELADO</option>
	<option value="SUSPENDIDO">SUSPENDIDO</option>
	<option value="BAJA">BAJA</option>
	        </select>
			<clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
		</div>
	</div>
	    </div>
	<div class="clr-form-control" id="datosconstitucionescritura">
	        <label for="tipoescritura" class="clr-control-label">
	        DatosConstitucion_Escritura
	        </label>
	        
	        <clr-radio-wrapper><input type="radio" clrRadio  formControlName="datosconstitucionescritura" value="PUBLICA"> Escritura pública</clr-radio-wrapper>		
	        <clr-radio-wrapper><input type="radio" clrRadio  formControlName="datosconstitucionescritura" value="OTRO"> Otro</clr-radio-wrapper>		
	    </div>
	<div class="clr-form-control">
	    <label for="datosconstitucionnumescritura" class="clr-control-label">
	    DatosConstitucion_Núm. Escritura
	    </label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="datosconstitucionnumescritura" class="clr-input clr-col-sm-11 clr-col-md-11">
	            <input id="datosconstitucionnumescritura" type="text" formControlName="datosconstitucionnumescritura" 
	            	   placeholder=""
	            	   class="clr-input clr-col-sm-12 clr-col-md-12">
	        </label>
	    </div>
	</div>
	<div class="clr-form-control" id="datosconstitucionnombrenotario">
	        <label for="notario" class="clr-control-label">
	        DatosConstitucion_Notario
	        <span class="required">*</span>
	        </label>
	            <div class="clr-control-container">
		<div class="clr-select-wrapper">
			<select formControlName="datosconstitucionnombrenotario" required>
			<option value=""> -- Seleccione un valor -- </option>
	<option value="NOTARIO01">NOTARIO 01</option>
	<option value="NOTARIO02">NOTARIO 02</option>
	<option value="NOTARIO03">NOTARIO 03</option>
	        </select>
			<clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
		</div>
	</div>
	    </div>
	<div class="clr-form-control">
	    <label for="datosconstitucionestadonotario" class="clr-control-label">
	    DatosConstitucion_Estado
	    </label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="datosconstitucionestadonotario" class="clr-input clr-col-sm-11 clr-col-md-11">
	            <input id="datosconstitucionestadonotario" type="text" formControlName="datosconstitucionestadonotario" 
	            	   placeholder=""
	            	   class="clr-input clr-col-sm-12 clr-col-md-12">
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="datosconstituciontelefononotario" class="clr-control-label">
	    DatosConstitucion_Teléfono
	    </label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="datosconstituciontelefononotario" class="clr-input clr-col-sm-11 clr-col-md-11">
	            <input id="datosconstituciontelefononotario" type="text" formControlName="datosconstituciontelefononotario" 
	            	   placeholder=""
	            	   class="clr-input clr-col-sm-12 clr-col-md-12">
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
		        <label for="datosconstitucionfecharppAux" class="clr-control-label">
		        DatosConstitucion_Fecha RPP
		        <span class="required">*</span>
		        </label>
		        <div class="clr-control-container clr-col-md-12"> 
		            <label for="datosconstitucionfecharppAux" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm"
		                    [class.invalid]="aportacioninmuebleForm.get('datosconstitucionfecharppAux').invalid && (aportacioninmuebleForm.get('datosconstitucionfecharppAux').dirty || aportacioninmuebleForm.get('datosconstitucionfecharppAux').touched)">
		                <input id="datosconstitucionfecharppAux" placeholder="dd/MM/yyyy" type="date" style="width: 700px" class="clr-input" clrDate formControlName="datosconstitucionfecharppAux"/>
		                <span class="tooltip-content">
		                    DatosConstitucion_Fecha RPP es requerido.
		                </span>
		            </label>
		        </div>
		    </div>
	<div class="clr-form-control">
		        <label for="datosconstitucionfechaescrituraAux" class="clr-control-label">
		        DatosConstitucion_Fecha de la escritura
		        </label>
		        <div class="clr-control-container clr-col-md-12"> 
		            <label for="datosconstitucionfechaescrituraAux">
		                <input id="datosconstitucionfechaescrituraAux" placeholder="dd/MM/yyyy" type="date" style="width: 700px" class="clr-input" clrDate formControlName="datosconstitucionfechaescrituraAux"/>
		            </label>
		        </div>
		    </div>
	<div class="clr-form-control">
	    <label for="datosconstitucionnumnotaria" class="clr-control-label">
	    DatosConstitucion_Num. notaría
	    <span class="required">*</span></label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="datosconstitucionnumnotaria" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm clr-input clr-col-sm-11 clr-col-md-11"
	                [class.invalid]="aportacioninmuebleForm.get('datosconstitucionnumnotaria').invalid && (aportacioninmuebleForm.get('datosconstitucionnumnotaria').dirty || aportacioninmuebleForm.get('datosconstitucionnumnotaria').touched)">
	            <input id="datosconstitucionnumnotaria" type="text" formControlName="datosconstitucionnumnotaria" 
	                   placeholder=""
	                   class="clr-input clr-col-sm-12 clr-col-md-12">
	            <span class="tooltip-content">
	                DatosConstitucion_Num. notaría es requerido.
	            </span>
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="datosconstitucionciudadnotario" class="clr-control-label">
	    DatosConstitucion_Ciudad
	    </label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="datosconstitucionciudadnotario" class="clr-input clr-col-sm-11 clr-col-md-11">
	            <input id="datosconstitucionciudadnotario" type="text" formControlName="datosconstitucionciudadnotario" 
	            	   placeholder=""
	            	   class="clr-input clr-col-sm-12 clr-col-md-12">
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="datosconstitucionemailnotario" class="clr-control-label">
	    DatosConstitucion_Email
	    </label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="datosconstitucionemailnotario" class="clr-input clr-col-sm-11 clr-col-md-11">
	            <input id="datosconstitucionemailnotario" type="text" formControlName="datosconstitucionemailnotario" 
	            	   placeholder=""
	            	   class="clr-input clr-col-sm-12 clr-col-md-12">
	        </label>
	    </div>
	</div>
	<div class="clr-form-control">
	    <label for="datosconstitucionnumrpp" class="clr-control-label">
	    DatosConstitucion_Núm RPP
	    </label>
	    <div class="clr-control-container clr-col-md-12"> 
	        <label for="datosconstitucionnumrpp" class="clr-input clr-col-sm-11 clr-col-md-11">
	            <input id="datosconstitucionnumrpp" type="text" formControlName="datosconstitucionnumrpp" 
	            	   placeholder=""
	            	   class="clr-input clr-col-sm-12 clr-col-md-12">
	        </label>
	    </div>
	</div>
    
    <!-- <p>Form value {{ aportacioninmuebleForm.value | json }} </p>
    <p> Form status {{ aportacioninmuebleForm.status | json}} </p> -->
    <p>
        <button type="submit" class="btn btn-primary" (click)="guardaAportacioninmueble()"><clr-icon shape="success-standard"></clr-icon> Agregar</button>
        <button type="submit" class="btn btn-outline" (click)="regresaAportacioninmueble()"><clr-icon shape="undo"></clr-icon> Regresar</button>
    </p>
    
	<!-- modals -->
<clr-modal [(clrModalOpen)]="modalfideicomiso" [clrModalSize]="'xl'">
    <h3 class="modal-title">Fideicomiso</h3>
			
			<!-- body -->
    <div class="modal-body">
    	
    		<!--  grid -->
            <clr-datagrid [clrDgLoading]="loading">
                <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
                <clr-dg-column>
                <!-- radio -->     
                </clr-dg-column>
      
        		<clr-dg-column [clrDgField]="'generalesadministradorItem'" >
        		    <ng-container *clrDgHideableColumn="{hidden: false}">
        		        Generales_Administrador
        		    </ng-container> 
        		</clr-dg-column>	
        		<clr-dg-column [clrDgField]="'generalespromotorItem'" >
        		    <ng-container *clrDgHideableColumn="{hidden: false}">
        		        Generales_Promotor
        		    </ng-container> 
        		</clr-dg-column>	
      
      			<clr-dg-row *ngFor="let fideicomiso of fideicomisoArray">
      			<clr-dg-cell><input type="radio" name="fideicomisoId" [checked]="fideicomiso.checked" value="{{fideicomiso.id}}" (click)="setClickedRowFideicomiso(i, fideicomiso)"></clr-dg-cell>
        		<clr-dg-cell >{{fideicomiso.generalesadministradorItem}}</clr-dg-cell>
        		<clr-dg-cell >{{fideicomiso.generalespromotorItem}}</clr-dg-cell>
                </clr-dg-row>
                
                <!-- footer -->
                <clr-dg-footer>
                    <clr-dg-column-toggle>
                        <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                        <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                    </clr-dg-column-toggle>
                    <clr-dg-pagination #pagination [clrDgPageSize]="10">
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                        de {{pagination.totalItems}} registros
                    </clr-dg-pagination>
                </clr-dg-footer>
                <!-- ./footer -->
        
            	</clr-datagrid>
            	<!--  ./grid -->
        	
        </div>
        <!-- ./body -->
        
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="modalfideicomiso = false">Regresar</button>
            <button type="button" class="btn btn-primary" (click)="modalfideicomiso = false">Elegir</button>
        </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="modalsubfiso" [clrModalSize]="'xl'">
    <h3 class="modal-title">Subfiso</h3>
			
			<!-- body -->
    <div class="modal-body">
    	
    		<!--  grid -->
            <clr-datagrid [clrDgLoading]="loading">
                <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
                <clr-dg-column>
                <!-- radio -->     
                </clr-dg-column>
      
        		<clr-dg-column [clrDgField]="'fideicomisoItem'" >
        		        <ng-container *clrDgHideableColumn="{hidden: false}">
        		            Fideicomiso
        		        </ng-container>
        		    </clr-dg-column>
        		<clr-dg-column [clrDgField]="'numero'">
        		        <ng-container *clrDgHideableColumn="{hidden: false}"> 
        		            Número
        		        </ng-container>    
        		    </clr-dg-column>	
        		<clr-dg-column [clrDgField]="'nombre'">
        		        <ng-container *clrDgHideableColumn="{hidden: false}"> 
        		            Nombre
        		        </ng-container>    
        		    </clr-dg-column>
        		<clr-dg-column [clrDgField]="'estatusItem'" >
        		    <ng-container *clrDgHideableColumn="{hidden: false}">
        		        Estatus
        		    </ng-container> 
        		</clr-dg-column>	
      
      			<clr-dg-row *ngFor="let subfiso of subfisoArray">
      			<clr-dg-cell><input type="radio" name="subfisoId" [checked]="subfiso.checked" value="{{subfiso.id}}" (click)="setClickedRowSubfiso(i, subfiso)"></clr-dg-cell>
        		<clr-dg-cell >{{subfiso.fideicomisoItem}}</clr-dg-cell>
        		<clr-dg-cell>{{subfiso.numero}}</clr-dg-cell>
        		<clr-dg-cell>{{subfiso.nombre}}</clr-dg-cell>
        		<clr-dg-cell >{{subfiso.estatusItem}}</clr-dg-cell>
                </clr-dg-row>
                
                <!-- footer -->
                <clr-dg-footer>
                    <clr-dg-column-toggle>
                        <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                        <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                    </clr-dg-column-toggle>
                    <clr-dg-pagination #pagination [clrDgPageSize]="10">
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                        de {{pagination.totalItems}} registros
                    </clr-dg-pagination>
                </clr-dg-footer>
                <!-- ./footer -->
        
            	</clr-datagrid>
            	<!--  ./grid -->
        	
        </div>
        <!-- ./body -->
        
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="modalsubfiso = false">Regresar</button>
            <button type="button" class="btn btn-primary" (click)="modalsubfiso = false">Elegir</button>
        </div>
</clr-modal>
    <!-- ./modals -->
    	    
    </div>
</form>
<!-- ./form -->
