<!-- PSG Administrar Estudiante Html -->
<div class="card-header">
Administrar Estudiante
</div>

<div class="card-block">
<button type="button"  *ngIf="estudiante_create" class="btn btn-icon btn-outline" (click)="getEstudiante()">
    <clr-icon shape="plus"></clr-icon> Agregar
</button>
    
    <clr-datagrid [clrDgLoading]="loading">
        <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
		<clr-dg-column [clrDgField]="'concierneporItem'" >
		        <ng-container *clrDgHideableColumn="{hidden: false}">
		            Conciernepor
		        </ng-container>
		    </clr-dg-column> 
		<clr-dg-column [clrDgField]="'matricula'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Matricula
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'nombreestudiante'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Nombre estudiante
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'apellidopaterno'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Apellido paterno
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'fechanacimiento'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Fecha nacimiento
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'genItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Gen
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'tieneItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Tiene
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'tipoItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Tipo
		    </ng-container> 
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'correoest'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Correo electrónico
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'telefono'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Teléfono
		    </ng-container>    
		</clr-dg-column>
            <clr-dg-row *clrDgItems="let estudiante of estudianteArray" [clrDgItem]="estudiante">
                <div hidden="true">
                    <div *ngIf="estudiante_update">
                        <button class="action-item" (click)="setClickedRowEditaEstudiante(i, estudiante)">Editar</button> 
                    </div>
                    <div *ngIf="estudiante_delete">
                        <button class="action-item" (click)="setClickedRowEliminaEstudiante(i, estudiante)">Eliminar</button>
                    </div>
				<div *ngIf="confirmadopor_read">
				            <button class="action-item"  (click)="setClickedRowConsultaConfirmadopor(i,estudiante)">Confirmadopor</button>
				        </div>
                </div>
                <clr-dg-action-overflow>
                    <button class="action-item" *ngIf="estudiante_update" (click)="setClickedRowEditaEstudiante(i, estudiante)">
                        <clr-icon shape="note" ></clr-icon> Editar
                    </button>
                    <button class="action-item" *ngIf="estudiante_delete" (click)="setClickedRowEliminaEstudiante(i, estudiante)">
                        <clr-icon shape="trash"></clr-icon> Borrar
                    </button>
				<div class="line-list"></div>
				    <button class="action-item" *ngIf="registro_read" (click)="setClickedRowConsultaRegistro(i,estudiante)">
				        <clr-icon shape="flow-chart"></clr-icon> Registro
				    </button>
                </clr-dg-action-overflow>
<clr-dg-cell >{{estudiante.concierneporItem}}</clr-dg-cell>
<clr-dg-cell >{{estudiante.matricula}}</clr-dg-cell>
<clr-dg-cell >{{estudiante.nombreestudiante}}</clr-dg-cell>
<clr-dg-cell >{{estudiante.apellidopaterno}}</clr-dg-cell>
<clr-dg-cell >{{estudiante.fechanacimiento | date: 'dd/MM/yyyy'}}</clr-dg-cell>
<clr-dg-cell >{{estudiante.genItem}}</clr-dg-cell>
<clr-dg-cell >{{estudiante.tieneItem}}</clr-dg-cell>
<clr-dg-cell >{{estudiante.tipoItem}}</clr-dg-cell>
<clr-dg-cell >{{estudiante.correoest}}</clr-dg-cell>
<clr-dg-cell >{{estudiante.telefono}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-column-toggle>
                    <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                    <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                </clr-dg-column-toggle>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    de {{pagination.totalItems}} registros
                </clr-dg-pagination>
            </clr-dg-footer>
    	</clr-datagrid>
</div>		
