<div class="card-header">
    Administrar Beneficiarios <span>({{variableEntidad}})</span>
</div>

<div class="card-block">
    <div *ngIf="beneficiario_create">
    <button type="button" class="btn btn-icon btn-outline" (click)="getBeneficiario()">
        <clr-icon shape="plus"></clr-icon> Agregar
    </button>
    </div>

    <clr-datagrid [clrDgLoading]="loading">
        <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
        <clr-dg-column [clrDgField]="'curp'">
            <ng-container *clrDgHideableColumn="{hidden: false}"> 
                Curp
            </ng-container>    
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'nombre'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
                Nombre
            </ng-container> 
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'apellidopaterno'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
                Apellido Paterno
            </ng-container> 
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'apellidomaterno'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
                Apellido Materno
            </ng-container> 
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'fechanacimiento'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
                Fecha Nacimiento
            </ng-container> 
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'afiliado1Item'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
                Afiliado
            </ng-container>
        </clr-dg-column>
        <clr-dg-row *clrDgItems="let beneficiario of beneficiariosArray" [clrDgItem]="beneficiario">
                <div hidden="true">
                    <div *ngIf="beneficiario_update">
                    <button class="action-item" (click)="setClickedRowEditaBeneficiario(i, beneficiario)">Editar</button> 
                    </div>
                    <div *ngIf="beneficiario_delete">
                    <button class="action-item" (click)="setClickedRowEliminaBeneficiario(i, beneficiario)">Eliminar</button>
                    </div>
                </div>
                <clr-dg-action-overflow>
                    <button class="action-item" *ngIf="beneficiario_update" (click)="setClickedRowEditaBeneficiario(i, beneficiario)">
                        <clr-icon shape="note" ></clr-icon> Editar
                    </button>
                    <button class="action-item" *ngIf="beneficiario_delete" (click)="setClickedRowEliminaBeneficiario(i, beneficiario)">
                        <clr-icon shape="trash"></clr-icon> Borrar
                    </button>
                </clr-dg-action-overflow>
                <clr-dg-cell>{{beneficiario.curp}}</clr-dg-cell>
                <clr-dg-cell>{{beneficiario.nombre}}</clr-dg-cell>
                <clr-dg-cell>{{beneficiario.apellidopaterno}}</clr-dg-cell>
                <clr-dg-cell>{{beneficiario.apellidomaterno}}</clr-dg-cell>
                <clr-dg-cell>{{beneficiario.fechanacimiento}}</clr-dg-cell>
                <clr-dg-cell>{{beneficiario.afiliado1Item}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-column-toggle>
                    <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                    <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                </clr-dg-column-toggle>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    de {{pagination.totalItems}} registros
                </clr-dg-pagination>
            </clr-dg-footer>

    </clr-datagrid>
</div>