<!-- PSG Main Html -->
<div class="main-container nav-group-links">
    <header class="header header-6">
        <div class="branding">
            <a href="#" class="nav-link">
                <img src="../../assets/logo.png" width="30px">
                <span class="title">   APPICATION DEVELOPMENT </span>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-text" clrDropdownTrigger>
                    <div>{{valueName}}
                    <clr-icon shape="cog"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                    </div>
                </button>
                <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                    <a href="javascript://" clrDropdownItem>Acerca</a>
                    <a href="javascript://" clrDropdownItem>Configuración</a>
                    <a [routerLink]="['/login']" clrDropdownItem>Salir</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>           
    </header>
    <div class="content-container">
        <div class="content-area">
            <div class="card">
                <router-outlet></router-outlet>
            </div>
        </div>
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapse">
            <ng-container>
                <clr-vertical-nav-group>
                    <a href="javascript://" clrVerticalNavLink>
                        <clr-icon shape="list" clrVerticalNavIcon></clr-icon>
                        Fiduciario
                    </a>
                    <clr-vertical-nav-group-children *clrIfExpanded>
<div *ngIf="fideicomiso_read">
    <a clrVerticalNavLink routerLink="fideicomiso" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Prospecto
    </a>
</div>
<div *ngIf="fideicomitente_read">
    <a clrVerticalNavLink routerLink="fideicomitente" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Fideicomitente
    </a>
</div>
<div *ngIf="fideicomisario_read">
    <a clrVerticalNavLink routerLink="fideicomisario" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Fideicomisario
    </a>
</div>
<div *ngIf="tercero_read">
    <a clrVerticalNavLink routerLink="tercero" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Tercero
    </a>
</div>
<div *ngIf="comitetecnico_read">
    <a clrVerticalNavLink routerLink="comitetecnico" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Comité Técnico
    </a>
</div>
<div *ngIf="subfiso_read">
    <a clrVerticalNavLink routerLink="subfiso" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Sub fiso
    </a>
</div>
<div *ngIf="parametroscomisiones_read">
    <a clrVerticalNavLink routerLink="parametroscomisiones" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Parámetros de comisiones
    </a>
</div>
<div *ngIf="contratoinversion_read">
    <a clrVerticalNavLink routerLink="contratoinversion" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Contratos de inversión
    </a>
</div>
<div *ngIf="kyc_read">
    <a clrVerticalNavLink routerLink="kyc" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Generar KYC
    </a>
</div>
<div *ngIf="cuentacheques_read">
    <a clrVerticalNavLink routerLink="cuentacheques" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Cuenta de cheques
    </a>
</div>
<div *ngIf="instruccion_read">
    <a clrVerticalNavLink routerLink="instruccion" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Instrucciones
    </a>
</div>
<div *ngIf="movimiento_read">
    <a clrVerticalNavLink routerLink="movimiento" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Movimientos
    </a>
</div>
<div *ngIf="transaccion_read">
    <a clrVerticalNavLink routerLink="transaccion" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Catálogo de transacciones
    </a>
</div>
<div *ngIf="guia_read">
    <a clrVerticalNavLink routerLink="guia" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Catálogo de guías
    </a>
</div>
<div *ngIf="compraventavalores_read">
    <a clrVerticalNavLink routerLink="compraventavalores" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Solicitud compra - venta de valores
    </a>
</div>
<div *ngIf="ventadirecto_read">
    <a clrVerticalNavLink routerLink="ventadirecto" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Instrucción de venta de valores
    </a>
</div>
<div *ngIf="compradirecto_read">
    <a clrVerticalNavLink routerLink="compradirecto" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Instrucción de compra de valores
    </a>
</div>
<div *ngIf="declaracionsat_read">
    <a clrVerticalNavLink routerLink="declaracionsat" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Generación archivo SAT 32-B
    </a>
</div>
<div *ngIf="honorarioscontrato_read">
    <a clrVerticalNavLink routerLink="honorarioscontrato" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Cartera honorarios por contrato
    </a>
</div>
<div *ngIf="carteraadeudo_read">
    <a clrVerticalNavLink routerLink="carteraadeudo" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Cartera adeudos
    </a>
</div>
<div *ngIf="aportacioninmueble_read">
    <a clrVerticalNavLink routerLink="aportacioninmueble" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Aportación del inmueble
    </a>
</div>
<div *ngIf="asientoscontables_read">
    <a clrVerticalNavLink routerLink="asientoscontables" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Asientos contables
    </a>
</div>
<div *ngIf="checkermonetario_read">
    <a clrVerticalNavLink routerLink="checkermonetario" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Monetario
    </a>
</div>
<div *ngIf="monitoreochekermonerario_read">
    <a clrVerticalNavLink routerLink="monitoreochekermonerario" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Monitoreo de Instrucciones de checker monetario
    </a>
</div>
<div *ngIf="retiro_read">
    <a clrVerticalNavLink routerLink="retiro" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Retiros
    </a>
</div>
<div *ngIf="saldoscuenta_read">
    <a clrVerticalNavLink routerLink="saldoscuenta" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Saldos por cuenta
    </a>
</div>
<div *ngIf="agenda_read">
    <a clrVerticalNavLink routerLink="agenda" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Agenda
    </a>
</div>
<div *ngIf="evaluacionriesgos_read">
    <a clrVerticalNavLink routerLink="evaluacionriesgos" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Resultados de la Evaluación de Riesgos
    </a>
</div>
<div *ngIf="documentosfideicomiso_read">
    <a clrVerticalNavLink routerLink="documentosfideicomiso" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Check list de documentos del fideicomiso
    </a>
</div>
<div *ngIf="honorarioadministracion_read">
    <a clrVerticalNavLink routerLink="honorarioadministracion" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Honorario por administración
    </a>
</div>
<div *ngIf="accionista_read">
    <a clrVerticalNavLink routerLink="accionista" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Accionista
    </a>
</div>
<div *ngIf="formasliquidacion_read">
    <a clrVerticalNavLink routerLink="formasliquidacion" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Formas de Liquidación
    </a>
</div>
<div *ngIf="autodeclaracioncrs_read">
    <a clrVerticalNavLink routerLink="autodeclaracioncrs" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Autodeclaración CRS
    </a>
</div>
<div *ngIf="aportaciones_read">
    <a clrVerticalNavLink routerLink="aportaciones" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Aportaciones
    </a>
</div>
<div *ngIf="pagos_read">
    <a clrVerticalNavLink routerLink="pagos" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Pagos
    </a>
</div>
<div *ngIf="fideicomisospendientesliberar_read">
    <a clrVerticalNavLink routerLink="fideicomisospendientesliberar" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Fideicomisos Pendientes de Liberar
    </a>
</div>
<div *ngIf="aplicacionpagoscontrolados_read">
    <a clrVerticalNavLink routerLink="aplicacionpagoscontrolados" routerLinkActive="active">
        <clr-icon shape="directory"></clr-icon>
        	                            Aplicación de pagos controlados
    </a>
</div>
                    </clr-vertical-nav-group-children>
                </clr-vertical-nav-group>
            </ng-container>
            <ng-container>
                    <!-- <div style="margin-left: 1rem">
                        <h5>BookStore</h5>
                    </div> -->
                    <clr-vertical-nav-group>
                        <a href="javascript://" clrVerticalNavLink>
                            <clr-icon shape="lock" clrVerticalNavIcon></clr-icon>
                            Seguridad
                        </a>
                        <clr-vertical-nav-group-children *clrIfExpanded>
                <div *ngIf="permissions_read">
                    <a clrVerticalNavLink routerLink="administracion" routerLinkActive="active">
                        <clr-icon shape="directory"></clr-icon>
                        Administración
                    </a>
                </div>
                <div *ngIf="users_read">
                        <a clrVerticalNavLink routerLink="user" routerLinkActive="active">
                            <clr-icon shape="directory"></clr-icon>
                            Usuario
                        </a>
                    </div>
                    <div *ngIf="roles_read">
                        <a clrVerticalNavLink routerLink="rol" routerLinkActive="active">
                            <clr-icon shape="directory"></clr-icon>
                            Role
                        </a>
                    </div>      
                    </clr-vertical-nav-group-children>
                </clr-vertical-nav-group>
            </ng-container>           
        </clr-vertical-nav>        
    </div>
</div> 
<!-- ./PSG Main Html -->
