<!-- PSG Administrar Grupoa Html -->
<div class="card-header">
Administrar Grupo
</div>

<div class="card-block">
<button type="button"  *ngIf="grupoa_create" class="btn btn-icon btn-outline" (click)="getGrupoa()">
    <clr-icon shape="plus"></clr-icon> Agregar
</button>
    
    <clr-datagrid [clrDgLoading]="loading">
        <clr-dg-placeholder>No se encontró información.</clr-dg-placeholder>
		<clr-dg-column [clrDgField]="'nombregrupo'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Nombre del grupo
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'descripciongrupo'" >
		<ng-container *clrDgHideableColumn="{hidden: false}"> 
		       		Descripción grupo
		    </ng-container>    
		</clr-dg-column>
		<clr-dg-column [clrDgField]="'tipoItem'" >
		    <ng-container *clrDgHideableColumn="{hidden: false}">
		        Tipo
		    </ng-container> 
		</clr-dg-column>
            <clr-dg-row *clrDgItems="let grupoa of grupoaArray" [clrDgItem]="grupoa">
                <div hidden="true">
                    <div *ngIf="grupoa_update">
                        <button class="action-item" (click)="setClickedRowEditaGrupoa(i, grupoa)">Editar</button> 
                    </div>
                    <div *ngIf="grupoa_delete">
                        <button class="action-item" (click)="setClickedRowEliminaGrupoa(i, grupoa)">Eliminar</button>
                    </div>
                </div>
                <clr-dg-action-overflow>
                    <button class="action-item" *ngIf="grupoa_update" (click)="setClickedRowEditaGrupoa(i, grupoa)">
                        <clr-icon shape="note" ></clr-icon> Editar
                    </button>
                    <button class="action-item" *ngIf="grupoa_delete" (click)="setClickedRowEliminaGrupoa(i, grupoa)">
                        <clr-icon shape="trash"></clr-icon> Borrar
                    </button>
                </clr-dg-action-overflow>
<clr-dg-cell >{{grupoa.nombregrupo}}</clr-dg-cell>
<clr-dg-cell >{{grupoa.descripciongrupo}}</clr-dg-cell>
<clr-dg-cell >{{grupoa.tipoItem}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-column-toggle>
                    <clr-dg-column-toggle-title>Elegir columnas</clr-dg-column-toggle-title>
                    <clr-dg-column-toggle-button>Seleccionar todas</clr-dg-column-toggle-button>
                </clr-dg-column-toggle>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    de {{pagination.totalItems}} registros
                </clr-dg-pagination>
            </clr-dg-footer>
    	</clr-datagrid>
</div>		
