<clr-main-container>
    <clr-header class="header-6">
        <div class="branding">
            <a href="#" class="nav-link">
                <img src="../../assets/logo.png" width="30px">
                <span class="title">    APPLICATION DEVELOPMENT </span>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-text" clrDropdownTrigger>
                    <div>juan.perez@softtek.com</div>
                    <clr-icon shape="cog"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                    <a href="javascript://" clrDropdownItem>Acerca</a>
                    <a href="javascript://" clrDropdownItem>Configuración</a>
                    <a [routerLink]="['/login']" clrDropdownItem>Salir</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-header>
    
    <!-- <app-content-container class="content-container"></app-content-container> -->
    <div class="content-container">
    <main class="content-area">
        <div class="card">
        <router-outlet></router-outlet>
        </div>
    </main>
    <nav class="sidenav" [clr-nav-level]="2">
        <section class="sidenav-content">
            <section class="nav-group">
                <input id="tab1" type="checkbox">
                <label for="tab1"> <clr-icon shape="home"></clr-icon>  Navigation</label>
            </section>
            <div class="card-header"></div>
            <section class="nav-group collapsible">
                <input id="tab2" type="checkbox">
                <label for="tab2"> <clr-icon shape="list"></clr-icon>  Pensiones</label>
                <ul class="nav-list">
                    <li *ngFor="let route of routes">
                        <a *ngIf="route.path != ''" class="nav-link" [routerLink]="[route.path]"
                        [routerLinkActive]="['active']"><clr-icon shape="application"></clr-icon> {{route.path}}</a>
                    </li>
                </ul>
            </section>
        </section>
    </nav>
    </div>
</clr-main-container>